<style>

    @media only screen and (min-width: 1500px) {
        .max-size-large-screen {

            padding-left: calc( (100% - 1500px) / 2 );
            padding-right: calc( (100% - 1500px) / 2 );

        }
    }

</style>
<navbar-menu></navbar-menu>
<main class="contactUs" ng-app="companyCustomer">
<div style="width: 100%;height: 60px;border-bottom: 1px solid #e7e7e7;background-color: white;">
    <figure style="padding-top: 18px;position: inherit;" class="">
        <a class="breadPadding" href="/" style="padding-left: 30px;font-family: 'Gotham Light';font-size: 18px;color: rgb(129, 106, 74);" class="ng-binding ng-scope">Anasayfa</a>
        <img class="breadPadding" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/arrow_breadCrum.jpg" style="padding-left: 15px;padding-bottom: 4px;padding-right: 15px;">
        <a class="breadPadding" href="/kurumsal-siparisler" style="font-weight: 700;font-family: 'Gotham Light';font-size: 18px;color: #3b454d;" class="ng-binding ng-scope">Kurumsal Siparişler</a>
    </figure>
</div>
<header style="background: url('https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/newYear/banner.png');background-size: cover;background-position-y: 0px;height: 475px;" class="pageHeader jumbotron text-center">
    <h1 style="padding-top: 99px;font-size: 52px;color: #fbfbfb;text-shadow: 0px 0px 17px #3b454d;" class="pageTitle">
        Kurumsal Yeni Yıl Hediyeleri
    </h1>
</header>
<section style="padding-bottom: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <div style="padding-top: 50px;padding-bottom: 50px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">

        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Bu yıl sonu Yeni Yıl kutlamaları için çiçekler, hediye kutuları, çikolatalar ve yeni yıl sepetlerinden oluşan geniş bir yelpazede seçkiler hazırladık. Bu seçkilerden seçili bazı örnekleri bu katalogda bulabilirsiniz.
            <br/>
            Kataloğumuzda yer alan hediye setleri örnek ve ilham niteliğinde olup sizlerin ihtiyaç ve talepleri doğrultusunda farklı içerikler ile özel çalışmalar da yapmaktayız.
            <br/>
            Kurumsal toplu siparişleriniz için kataloğumuzda yer alan ürünlere ek olarak her türlü özel ihtiyaç ve sorunuz için bizlerle iletişime geçmeniz bizi mutlu edecektir.
            <br/>
            <br/>
            Sevgilerimizle,
            <br/>
            Bloom and Fresh Ekibi
            <br/>
            www.bloomandfresh.com
            <br/>
            hello@bloomandfresh.com
            <br/>
            0090 212 212 02 82
            <br/>
            <br/>
            <span style="font-size: 16px;font-weight: bold;">
            2019-2020 Yeni Yıl kataloğu için <a href="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/newYear/BNF_Yeni_Yil_Katalog_v3.pdf" download="Bloomandfresh2020yeniyilkatalogu">tıklayınız</a>
            </span>

        </p>

        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
</section>
<section style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center max-size-large-screen">
    <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            Bloom and Fresh Yeni Yıl Kutuları
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Birbirinden özel ve seçkin ürünlerin bir araya getirilmesi ile oluşturduğumuz hediye kutularından dilediğinizi seçebilir veya kendi istek ve ihtiyaçlarınız doğrultusunda yeni bir hediye kutusu tasarlayabilirsiniz.
            <br>
        </p>
        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <img style="width: 100%;" src="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/newYear/1.png">
    </div>
</section>
<section style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center max-size-large-screen">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <img style="width: 100%;" src="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/newYear/2.png">
    </div>
    <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            Tematik Yeni Yıl Hediyeleri
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Yeni Yıl coşkusunu tam anlamıyla yansıtması için özel olarak tasarlanan hediye setleri ile mesajınızı en şık ve coşkulu şekilde iletebilirsiniz.
            <br>
        </p>
        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
</section>
<section style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center max-size-large-screen">
    <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            Godiva Seçkileri
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Dünyanın en prestijli çikolata markası Godiva’nın özel Yeni Yıl Hamper’ları ve eşsiz çikolataları ile Yeni Yıl kutlamaları hiç olmadığı kadar leziz ve özel!
            <br>
        </p>
        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <img style="width: 100%;" src="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/newYear/3.png">
    </div>
</section>
<section style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center max-size-large-screen">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <img style="width: 100%;" src="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/newYear/4.png">
    </div>
    <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            B&F Macarons
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Lezzeti dilden dile efsaneleşen Bloom and Fresh makaronları Yeni Yıl kutlamaları için doyumsuz tadı ve eşsiz renkleriyle aramızda…
            <br>
        </p>
        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
</section>
<section style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center max-size-large-screen">
    <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            TAFE Yeni Yıl Sepetleri
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Özel yerel lezzetler ile hazırlanmış ve Yeni Yıl ruhuna harika bir uyum sağlayan sepetleri ile TAFE seçkileri de Yeni Yıl kutlamaları için en sık tercih edilenlerden…
            <br>
        </p>
        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <img style="width: 100%;" src="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/newYear/5.png">
    </div>
</section>
<section style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center max-size-large-screen">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <img style="width: 100%;" src="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/newYear/6.png">
    </div>
    <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            Hazz Çikolata
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Butik çikolata seçkileri ile Hazz Çikolata’nın en sevilen ve tercih edilen pralinleri ile oluşturulmuş çikolataları yeni yıl kutlamalarınıza eşlik etmek için hazır…
            <br>
        </p>
        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
</section>
<article class="bNfContactInfo container-fluid">
    <section
            class="formSection col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <form class="" name="companyCustomerForm" novalidate>
            <h3 class="fieldHeader darkBlueText"> {{::'HOW_CAN_WE_HELP' | translate}}</h3>
            <fieldset class="center-block">
                <label class="error pull-left" for="contactName"
                       ng-show="companyCustomerForm.contactName.$touched && (companyCustomerForm.contactName.$error.minlength || companyCustomerForm.contactName.$error.pattern)">{{'NAME_ERROR'
                    | translate}}</label>
                <label class="error pull-left" for="contactName"
                       ng-show="(companyCustomerForm.contactName.$touched && companyCustomerForm.contactName.$error.required) || (companyCustomerForm.contactName.$untouched && isChecked)">{{'NAME_EMPTY_ERROR'
                    | translate}}</label>
                <label class="lightBrownText not-error pull-left" for="contactName"
                       ng-show="companyCustomerForm.contactName.$valid || (companyCustomerForm.contactName.$untouched && !isChecked)">{{'NAME_TEXT'
                    | translate}}</label>
                <input class="form-control text-capitalize" type="text" ng-model="contact.name" id="contactName" name="contactName"
                       maxlength="30"
                       ng-pattern="{{::'TEXT_PATTERN' | translate}}" ng-minlength="3"
                       ng-model-options="{ updateOn: 'change' }" required/>
            </fieldset>
            <fieldset class="center-block">
                <label class="error pull-left" for="companyCompany"
                       ng-show="companyCustomerForm.companyCompany.$touched && (companyCustomerForm.companyCompany.$error.minlength || companyCustomerForm.companyCompany.$error.pattern)">{{'COMPANY_NAME_MISSING'
                    | translate}}</label>
                <label class="error pull-left" for="companyCompany"
                       ng-show="(companyCustomerForm.companyCompany.$touched && companyCustomerForm.companyCompany.$error.required) || (companyCustomerForm.companyCompany.$untouched && isChecked)">{{'COMPANY_NAME_EMPTY'
                    | translate}}</label>
                <label class="lightBrownText not-error pull-left" for="companyCompany"
                       ng-show="companyCustomerForm.companyCompany.$valid || (companyCustomerForm.companyCompany.$untouched && !isChecked)">Kurum Adı</label>
                <input class="form-control text-capitalize" type="text" ng-model="contact.company" id="companyCompany" name="companyCompany"
                       maxlength="30"
                       ng-pattern="{{::'TEXT_PATTERN' | translate}}" ng-minlength="3"
                       ng-model-options="{ updateOn: 'change' }" required/>
            </fieldset>
            <fieldset class="center-block">
                <label class="error pull-left" for="contactMail"
                       ng-show="companyCustomerForm.contactMail.$touched && (companyCustomerForm.contactMail.$error.email || companyCustomerForm.contactMail.$error.pattern)">{{'EMAIL_ERROR'|translate}}</label>
                <label class="error pull-left" for="contactMail"
                       ng-show="(companyCustomerForm.contactMail.$touched && companyCustomerForm.contactMail.$error.required) || (companyCustomerForm.contactMail.$untouched && isChecked)">{{'EMAIL_EMPTY_ERROR'
                    | translate}}</label>
                <label class="lightBrownText not-error pull-left" for="contactMail"
                       ng-show="companyCustomerForm.contactMail.$valid || (companyCustomerForm.contactMail.$untouched && !isChecked)">{{::'EMAIL_TEXT'
                    | translate}}</label>
                <input class="lightBrownText form-control" type="email" ng-model="contact.email" id="contactMail"
                       name="contactMail" maxlength="30"
                       ng-minlength="3" ng-model-options="{ updateOn: 'change' }"
                       ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" required/>
            </fieldset>
            <fieldset class="center-block">
                <label class="error pull-left" for="contactPhone"
                       ng-show="companyCustomerForm.contactPhone.$touched && (companyCustomerForm.contactPhone.$error.minlength || companyCustomerForm.contactPhone.$error.mask)">{{'PHONE_ERROR'
                    |translate}}</label>
                <label class="lightBrownText not-error pull-left" for="contactPhone"
                       ng-show="companyCustomerForm.contactPhone.$valid || (companyCustomerForm.contactPhone.$untouched && !isChecked)">{{'PHONE_TEXT'
                    | translate}}</label>
                <input class="form-control textField" ng-model="contact.mobile" ui-mask="(999)-999-99-99"
                       ng-model-options="{ updateOn: 'blur' }" id="contactPhone" name="contactPhone"/>
            </fieldset>
            <fieldset class="center-block">
                <label class="lightBrownText error pull-left" for="contactMessage"
                       ng-show="(companyCustomerForm.contactMessage.$touched && companyCustomerForm.contactMessage.$error.required) || (companyCustomerForm.contactMessage.$untouched && !companyCustomerForm.contactMessage.$valid && isChecked)">{{::'MESSAGE_EMPTY_ERROR'
                    | translate}}</label>
                <label class="lightBrownText not-error pull-left" for="contactMessage"
                       ng-show="companyCustomerForm.contactMessage.$valid || (companyCustomerForm.contactMessage.$untouched && !isChecked)">{{::'MESSAGE_TEXT'
                    | translate}}</label>
                <textarea class="textField lightBrownText form-control" rows="5" ng-model="contact.contactMessage" style="resize: none;"
                          id="contactMessage" name="contactMessage" maxlength="250"
                          ng-model-options="{ updateOn: 'change' }" required></textarea>
            </fieldset>
            <label class="error serverError">{{error}}</label>
            <fieldset class="center-block">
                <button class="btn-bloomNfresh btn btn-default text-uppercase" ng-if="!processSuccess"
                        ng-click="sendMessage()"><b>{{::'SEND_BUTTON_TEXT' | translate}}</b></button>
                <button class="btn-success btn btn-default disabled" ng-if="processSuccess">
                    <img style="width: 26px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/checked.svg">
                </button>
            </fieldset>

            <!--[if !IE]><!-->
            <loader
                    working="working"
                    disable-background="true"
                    template="2">
            </loader>

            <!--<![endif]-->
        </form>
    </section>
    <aside class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <section>
            <h2 class="fieldHeader col-lg-10 col-md-10 col-sm-10 col-xs-10 darkBlueText"> {{::'CONTACT_INFO_HEADER'|
                translate}}</h2>

            <iframe
                    width="90%"
                    height="200"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d187.90384303150142!2d29.0525668!3d41.1026113!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xf95e64be0fdb9b0d!2sBloom+and+Fresh!5e0!3m2!1sen!2str!4v1448892566317"
                    allowfullscreen>
            </iframe>

            <ul class="bNfPhoneAndMail col-lg-12 col-md-12 col-sm-11 col-xs-12">
                <li class="pull-left"><span class="icons pull-left ion-ios-home-outline"></span><span
                        class="text addressText" translate="COMPANY_ADDRESS"></span></li>
                <li class="pull-left"><span class="phoneIcon icons pull-left"></span><a href="tel:+902122120282"
                                                                                        class="phoneAndMailText lightBrownText">{{::'COMPANY_PHONE'
                    | translate}}</a></li>
                <li class="pull-left"><a class="mailIcon icons pull-left" role="button"
                                         href="mailto:merhaba@bloomandfresh.com"></a><span
                        class="phoneAndMailText lightBrownText">{{::'COMPANY_CONTACT_MAIL' | translate}}</span></li>
            </ul>
        </section>
        <section>
            <h2 class="fieldHeader col-lg-10 col-md-10 col-sm-10 col-xs-10 darkBlueText">{{::'SOCIAL_MEDIA_HEADER_2'
                | translate}}</h2>

            <p class="text col-lg-10 col-md-12 col-sm-12 col-xs-12">
                {{::'SOCIAL_MEDIA_TEXT'| translate}}
            </p>

            <ul class="bNfPhoneAndMail socialIcons col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a target="_blank" href="https://www.facebook.com/bloomandfresh?ref=hl"
                       class="btn-add icons ion-social-facebook-outline pull-left"
                       title="{{::'FB_URL_TITLE' | translate}}"></a>
                    <a target="_blank" href="https://www.facebook.com/bloomandfresh?ref=hl"
                       class="phoneAndMailText lightBrownText" title="{{::'FB_URL_TITLE' | translate}}">bloomandfresh</a>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a target="_blank" href="https://instagram.com/bloomandfresh/"
                       class="btn-add icons ion-social-instagram-outline pull-left"
                       title="{{::'INS' | translate}}"></a>
                    <a target="_blank" href="https://instagram.com/bloomandfresh/"
                       class="phoneAndMailText lightBrownText" title="{{::'INS_URL_TITLE' | translate}}">bloomandfresh</a>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a target="_blank" href="https://twitter.com/BloomAndFresh"
                       class="btn-add icons ion-social-twitter-outline pull-left"
                       title="{{::'TW_URL_TITLE' | translate}}"></a>
                    <a target="_blank" href="https://twitter.com/BloomAndFresh"
                       class="phoneAndMailText lightBrownText" title="{{::'TW_URL_TITLE' | translate}}">bloomandfresh</a>
                </li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a target="_blank" href="https://www.pinterest.com/bloomandfresh/"
                       class="btn-add icons ion-social-pinterest-outline pull-left"
                       title="{{::'PIN_URL_TITLE' | translate}}"></a>
                    <a target="_blank" href="https://www.pinterest.com/bloomandfresh/"
                       class="phoneAndMailText lightBrownText" title="{{::'PIN_URL_TITLE' | translate}}">bloomandfresh</a>
                </li>
            </ul>
        </section>

    </aside>
</article>
</main>

<bf-footer></bf-footer>
