<navbar-menu></navbar-menu>
<main class="contactUs" ng-app="companyCustomer">
<div style="width: 100%;height: 60px;border-bottom: 1px solid #e7e7e7;background-color: white;">
    <figure style="padding-top: 18px;position: inherit;" class="">
        <a class="breadPadding" href="/" style="padding-left: 30px;font-family: 'Gotham Light';font-size: 18px;color: rgb(129, 106, 74);" class="ng-binding ng-scope">Anasayfa</a>
        <img class="breadPadding" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/arrow_breadCrum.jpg" style="padding-left: 15px;padding-bottom: 4px;padding-right: 15px;">
        <a class="breadPadding" href="/kurumsal-siparisler" style="font-weight: 700;font-family: 'Gotham Light';font-size: 18px;color: #3b454d;" class="ng-binding ng-scope">Kurumsal Siparişler</a>
    </figure>
</div>
    <header style="background: url('https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/banner_new_1.jpg');background-size: cover;background-position-y: -374px;height: 411px;" class="pageHeader jumbotron text-center">
        <h1 style="padding-top: 99px;font-size: 52px;color: #fbfbfb;text-shadow: 0px 0px 17px #3b454d;" class="pageTitle">
            Kurumlara Özel <br>
            Çalışmalarımız
        </h1>
    </header>
<section style="padding-bottom: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <div style="padding-top: 50px;padding-bottom: 50px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            Kataloglar
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Bloom and Fresh olarak kurumlar için hazırladığımız çiçeklerimizden örnekler görmek istersen kataloglarımıza aşağıdan ulaşabilirsin.
            <br>
            8 Mart 2020 Kadınlar Günü kataloğu için <a href="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/BNF_8MartKad%C4%B1nlarGunu_Katalog_2020_v4.pdf" download="Bloomandfresh8MartKadınlarGünüKataloğu">tıklayınız</a>.
            <br>
            Yeni Yıl kataloğu için <a href="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/newYear/BNF_Yeni_Yil_Katalog_v3.pdf" download="BloomandfreshYeniYılKataloğu">tıklayınız</a>.
            <br>
            2018 Bayram kataloğu için <a href="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/Bloom+and+Fresh+2018+Bayram+Katalogu_v1.pdf" download="Bloomandfresh8MartKadınlarGünüKataloğu">tıklayınız</a>.
            <br>
            2018 Anneler Günü kataloğu için <a href="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/BloomAndFresh_2018_Anneler_Gunu.pdf" download="Bloomandfresh8MartKadınlarGünüKataloğu">tıklayınız</a>.
            <br>
            8 Mart 2018 Kadınlar Günü kataloğu için <a href="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/Bloom+And+Fresh+2018+_+8+Mart+Kurumsal+Urunler_c.pdf" download="Bloomandfresh8MartKadınlarGünüKataloğu">tıklayınız</a>.
            <br>
            8 Mart 2017 Kadınlar Günü kataloğu için <a href="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/BNF_2017_8Mart_v1.0.pdf" download="Bloomandfresh8MartKadınlarGünüKataloğu">tıklayınız</a>.
            <br>
            Kurumsal katalog için <a href="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/BloomandFresh_Kurumsal_Katalog.pdf" download="BloomandfreshKurumsalKatalok">tıklayınız</a>.
            <br>
            8 Mart 2016 Kadınlar Günü kataloğu için <a href="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/BloomandFresh_8Mart_Katalog.pdf" download="Bloomandfresh8MartKadınlarGünüKataloğu">tıklayınız</a>.
        </p>

        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
</section>
    <section style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                Kurum Etkinlikleri ve Toplu Siparişler
            </h4>
            <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
                Özel günler, özel organizasyonlar, kurum yıldönümleri ve farklı birçok büyük kurumsal etkinlik için etkinlik temasına özel çiçekler tasarlıyor, bu tasarımlar ile toplu siparişleri hazırlayıp etkinliklere renk katıyoruz.
                <br>
            </p>
            <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <img style="width: 100%;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/section_1_new.jpg">
        </div>
    </section>
    <section style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <img style="width: 100%;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/section_1.JPG">
        </div>
        <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                Kurumlara Özel Online Koleksiyon
            </h4>
            <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
                Bloom and Fresh’in stil sahibi güncel koleksiyonuna ek olarak ortak çalıştığımız

                kurumların farklı ihtiyaçlarına göre (Üst Yönetim Tebrik Çiçekleri vb.) özel bir koleksiyon

                hazırlıyor ve tamamen online ve kuruma özel olarak sunuyoruz. Üstelik tüm süreçler online

                ve kurumların ihtiyaçlarına uygun yetkilendirme ve muhasebe kurgularına paralel olarak

                düzenleniyor.
                <br>
            </p>
            <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
        </div>
    </section>
    <section style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                Kurumsal Çiçek Üyeliği
            </h4>
            <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
                Kurumların çiçek gönderilerine ek olarak kurum ofisleri için (Üst Yönetim Katları,

                Resepsiyon, Toplantı Odaları vb.) özel çiçek tasarımları hazırlıyor, belirlenen günlerde

                çiçeklerimizi kurumlara teslim ederek çalışma ortamlarının enerjisine katkıda bulunuyoruz.
                <br>
            </p>
            <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <img style="width: 100%;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/section_2_2.JPG">
        </div>
    </section>
    <section style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <img style="width: 100%;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/kurumsal/section_3.png">
        </div>
        <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                Kurum Çalışanları için Workshop’lar
            </h4>
            <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
                Kurumların müşterilerinin ve kendi ofislerini güzelleştirmekle yetinmeyip, kurumların talepleri doğrultusunda çalışanlarına özel çiçek ve bitki tasarım workshop’ları düzenliyor, çalışanların iş yoğunluğundan bir an olsun uzaklaşıp keyifli vakit geçirmelerini sağlıyoruz.
                <br>
            </p>
            <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
        </div>
    </section>
    <article class="bNfContactInfo container-fluid">
        <section
                class="formSection col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <form class="" name="companyCustomerForm" novalidate>
                <h3 class="fieldHeader darkBlueText"> {{::'HOW_CAN_WE_HELP' | translate}}</h3>
                <fieldset class="center-block">
                    <label class="error pull-left" for="contactName"
                           ng-show="companyCustomerForm.contactName.$touched && (companyCustomerForm.contactName.$error.minlength || companyCustomerForm.contactName.$error.pattern)">{{'NAME_ERROR'
                        | translate}}</label>
                    <label class="error pull-left" for="contactName"
                           ng-show="(companyCustomerForm.contactName.$touched && companyCustomerForm.contactName.$error.required) || (companyCustomerForm.contactName.$untouched && isChecked)">{{'NAME_EMPTY_ERROR'
                        | translate}}</label>
                    <label class="lightBrownText not-error pull-left" for="contactName"
                           ng-show="companyCustomerForm.contactName.$valid || (companyCustomerForm.contactName.$untouched && !isChecked)">{{'NAME_TEXT'
                        | translate}}</label>
                    <input class="form-control text-capitalize" type="text" ng-model="contact.name" id="contactName" name="contactName"
                           maxlength="30"
                           ng-pattern="{{::'TEXT_PATTERN' | translate}}" ng-minlength="3"
                           ng-model-options="{ updateOn: 'change' }" required/>
                </fieldset>
                <fieldset class="center-block">
                    <label class="error pull-left" for="companyCompany"
                           ng-show="companyCustomerForm.companyCompany.$touched && (companyCustomerForm.companyCompany.$error.minlength || companyCustomerForm.companyCompany.$error.pattern)">{{'COMPANY_NAME_MISSING'
                        | translate}}</label>
                    <label class="error pull-left" for="companyCompany"
                           ng-show="(companyCustomerForm.companyCompany.$touched && companyCustomerForm.companyCompany.$error.required) || (companyCustomerForm.companyCompany.$untouched && isChecked)">{{'COMPANY_NAME_EMPTY'
                        | translate}}</label>
                    <label class="lightBrownText not-error pull-left" for="companyCompany"
                           ng-show="companyCustomerForm.companyCompany.$valid || (companyCustomerForm.companyCompany.$untouched && !isChecked)">Kurum Adı</label>
                    <input class="form-control text-capitalize" type="text" ng-model="contact.company" id="companyCompany" name="companyCompany"
                           maxlength="30"
                           ng-pattern="{{::'TEXT_PATTERN' | translate}}" ng-minlength="3"
                           ng-model-options="{ updateOn: 'change' }" required/>
                </fieldset>
                <fieldset class="center-block">
                    <label class="error pull-left" for="contactMail"
                           ng-show="companyCustomerForm.contactMail.$touched && (companyCustomerForm.contactMail.$error.email || companyCustomerForm.contactMail.$error.pattern)">{{'EMAIL_ERROR'|translate}}</label>
                    <label class="error pull-left" for="contactMail"
                           ng-show="(companyCustomerForm.contactMail.$touched && companyCustomerForm.contactMail.$error.required) || (companyCustomerForm.contactMail.$untouched && isChecked)">{{'EMAIL_EMPTY_ERROR'
                        | translate}}</label>
                    <label class="lightBrownText not-error pull-left" for="contactMail"
                           ng-show="companyCustomerForm.contactMail.$valid || (companyCustomerForm.contactMail.$untouched && !isChecked)">{{::'EMAIL_TEXT'
                        | translate}}</label>
                    <input class="lightBrownText form-control" type="email" ng-model="contact.email" id="contactMail"
                           name="contactMail" maxlength="30"
                           ng-minlength="3" ng-model-options="{ updateOn: 'change' }"
                           ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" required/>
                </fieldset>
                <fieldset class="center-block">
                    <label class="error pull-left" for="contactPhone"
                           ng-show="companyCustomerForm.contactPhone.$touched && (companyCustomerForm.contactPhone.$error.minlength || companyCustomerForm.contactPhone.$error.mask)">{{'PHONE_ERROR'
                        |translate}}</label>
                    <label class="lightBrownText not-error pull-left" for="contactPhone"
                           ng-show="companyCustomerForm.contactPhone.$valid || (companyCustomerForm.contactPhone.$untouched && !isChecked)">{{'PHONE_TEXT'
                        | translate}}</label>
                    <input class="form-control textField" ng-model="contact.mobile" ui-mask="(999)-999-99-99"
                           ng-model-options="{ updateOn: 'blur' }" id="contactPhone" name="contactPhone"/>
                </fieldset>
                <fieldset class="center-block">
                    <label class="lightBrownText error pull-left" for="contactMessage"
                           ng-show="(companyCustomerForm.contactMessage.$touched && companyCustomerForm.contactMessage.$error.required) || (companyCustomerForm.contactMessage.$untouched && !companyCustomerForm.contactMessage.$valid && isChecked)">{{::'MESSAGE_EMPTY_ERROR'
                        | translate}}</label>
                    <label class="lightBrownText not-error pull-left" for="contactMessage"
                           ng-show="companyCustomerForm.contactMessage.$valid || (companyCustomerForm.contactMessage.$untouched && !isChecked)">{{::'MESSAGE_TEXT'
                        | translate}}</label>
                    <textarea class="textField lightBrownText form-control" rows="5" ng-model="contact.contactMessage" style="resize: none;"
                              id="contactMessage" name="contactMessage" maxlength="250"
                              ng-model-options="{ updateOn: 'change' }" required></textarea>
                </fieldset>
                <label class="error serverError">{{error}}</label>
                <fieldset class="center-block">
                    <button class="btn-bloomNfresh btn btn-default text-uppercase" ng-if="!processSuccess"
                            ng-click="sendMessage()"><b>{{::'SEND_BUTTON_TEXT' | translate}}</b></button>
                    <button class="btn-success btn btn-default disabled" ng-if="processSuccess">
                        <img style="width: 26px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/checked.svg">
                    </button>
                </fieldset>

                <!--[if !IE]><!-->
                <loader
                        working="working"
                        disable-background="true"
                        template="2">
                </loader>

                <!--<![endif]-->
            </form>
        </section>
        <aside class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <section>
                <h2 class="fieldHeader col-lg-10 col-md-10 col-sm-10 col-xs-10 darkBlueText"> {{::'CONTACT_INFO_HEADER'|
                    translate}}</h2>

                <iframe
                        width="90%"
                        height="200"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d187.90384303150142!2d29.0525668!3d41.1026113!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xf95e64be0fdb9b0d!2sBloom+and+Fresh!5e0!3m2!1sen!2str!4v1448892566317"
                        allowfullscreen>
                </iframe>

                <ul class="bNfPhoneAndMail col-lg-12 col-md-12 col-sm-11 col-xs-12">
                    <li class="pull-left"><span class="icons pull-left ion-ios-home-outline"></span><span
                            class="text addressText" translate="COMPANY_ADDRESS"></span></li>
                    <li class="pull-left"><span class="phoneIcon icons pull-left"></span><a href="tel:+902122120282"
                                                                                            class="phoneAndMailText lightBrownText">{{::'COMPANY_PHONE'
                        | translate}}</a></li>
                    <li class="pull-left"><a class="mailIcon icons pull-left" role="button"
                                             href="mailto:merhaba@bloomandfresh.com"></a><span
                            class="phoneAndMailText lightBrownText">{{::'COMPANY_CONTACT_MAIL' | translate}}</span></li>
                </ul>
            </section>
            <section>
                <h2 class="fieldHeader col-lg-10 col-md-10 col-sm-10 col-xs-10 darkBlueText">{{::'SOCIAL_MEDIA_HEADER_2'
                    | translate}}</h2>

                <p class="text col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    {{::'SOCIAL_MEDIA_TEXT'| translate}}
                </p>

                <ul class="bNfPhoneAndMail socialIcons col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a target="_blank" href="https://www.facebook.com/bloomandfresh?ref=hl"
                           class="btn-add icons ion-social-facebook-outline pull-left"
                           title="{{::'FB_URL_TITLE' | translate}}"></a>
                        <a target="_blank" href="https://www.facebook.com/bloomandfresh?ref=hl"
                           class="phoneAndMailText lightBrownText" title="{{::'FB_URL_TITLE' | translate}}">bloomandfresh</a>
                    </li>
                    <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a target="_blank" href="https://instagram.com/bloomandfresh/"
                           class="btn-add icons ion-social-instagram-outline pull-left"
                           title="{{::'INS' | translate}}"></a>
                        <a target="_blank" href="https://instagram.com/bloomandfresh/"
                           class="phoneAndMailText lightBrownText" title="{{::'INS_URL_TITLE' | translate}}">bloomandfresh</a>
                    </li>
                    <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a target="_blank" href="https://twitter.com/BloomAndFresh"
                           class="btn-add icons ion-social-twitter-outline pull-left"
                           title="{{::'TW_URL_TITLE' | translate}}"></a>
                        <a target="_blank" href="https://twitter.com/BloomAndFresh"
                           class="phoneAndMailText lightBrownText" title="{{::'TW_URL_TITLE' | translate}}">bloomandfresh</a>
                    </li>
                    <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a target="_blank" href="https://www.pinterest.com/bloomandfresh/"
                           class="btn-add icons ion-social-pinterest-outline pull-left"
                           title="{{::'PIN_URL_TITLE' | translate}}"></a>
                        <a target="_blank" href="https://www.pinterest.com/bloomandfresh/"
                           class="phoneAndMailText lightBrownText" title="{{::'PIN_URL_TITLE' | translate}}">bloomandfresh</a>
                    </li>
                </ul>
            </section>

        </aside>
    </article>
</main>

<bf-footer></bf-footer>
