<navbar-menu></navbar-menu>

<main class="faq container-fluid">
<div style="width: 100%;height: 60px;border-bottom: 1px solid #e7e7e7;background-color: white;">
    <figure style="padding-top: 18px;position: inherit;" class="">
        <a class="breadPadding" href="/" style="padding-left: 30px;font-family: 'Gotham Light';font-size: 18px;color: rgb(129, 106, 74);" class="ng-binding ng-scope">Anasayfa</a>
        <img class="breadPadding" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/arrow_breadCrum.jpg" style="padding-left: 15px;padding-bottom: 4px;padding-right: 15px;">
        <a class="breadPadding" href="/sozlesmeler" style="font-weight: 700;font-family: 'Gotham Light';font-size: 18px;color: #3b454d;" class="ng-binding ng-scope">Sözleşmeler</a>
    </figure>
</div>
	<header class="row text-center page-header">
		<h1 class="text-uppercase darkBlueText"><b>Sözleşmeler</b></h1>
		<small class="lightBrownText" style="min-height: 60px"></small>
		<img class="pageImg" src="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/icons/faq.png" alt="Sözleşmeler">
	</header>

	<article class="faqBody row text-center">
		<section class="tabbable tabs-left col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-11 col-sm-offset-0 col-sm-12 col-xs-12">
			<ul class="nav nav-tabs col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<li class="active"><a href="/sozlesmeler#gizlilik-politikasi" data-toggle="tab" hreflang="tr"><span class="">Gizlilik Politikası</span></a></li>
				<li><a href="/sozlesmeler#on-bilgilendirme-sozlesmesi" data-toggle="tab"><span class="">Ön Bilgilendirme Formu</span></a></li>
				<li><a href="/sozlesmeler#mesafeli-satis-sozlesmesi" data-toggle="tab"><span class="">Mesafeli Satış Sözleşmesi</span></a></li>
			</ul>
			<aside class="tab-content col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<div class="tab-pane text-left modal-body active" id="gizlilik-politikasi">
					<br>
					<p>
						<strong class="big-header"> Gizlilik Politikası </strong>
					</p>
					<br>

					<p class="plain-text">
						Bloomandfresh.com’un (IF GİRİŞİM VE TEKNOLOJİ A.Ş) gizlilik politikası aşağıda belirtilmiştir, Bloomandfresh.com’u ziyaret ederek aşağıdaki şartları ve kuralları uygulamayı
						kabul etmiş sayılmaktasınız. 
					</p>
					<p class="plain-text">
						Sitemizde yer alan her türlü bilgi, içerik, ürün ve müşteri yorumları veya üyeler tarafından siteye eklenmiş olan içerikler de dahil, düzenlenmesi ve kısmen/tamamen kullanımı konusunda (bir sözleşme ile üçüncü şahıslara ait olanlar hariç) tüm fikri-sınai haklar ve mülkiyet hakları Bloomandfresh.com’a aittir. 

					</p>

					<p class="plain-text">
						Müşteri tarafından sitede yayınlanmasına izin verilen tüm yazı, resim, video gibi içerikler sadece bilgilendirme amaçlıdır. 
					</p>

					<p class="plain-text">
						Bloomandfresh.com üyelik sırasında veya daha sonraki süreçlerde sizden bazı kişisel bilgiler talep edebilir, bu bilgilerin diğer üyelerin göremeyeceği ve ulaşamayacağı şekilde korunması ve güvenle saklanması için Bloomandfresh.com tüm önlemleri almaktadır, bilgi alınan tüm sayfalar SSL güvenlik sertifikası ile korunmaktadır. 
					</p>

					<p class="plain-text">
						Tüm online kredi kartı işlemleri ve onayları tarafımızdan bağımsız olarak ilgili Banka ve benzeri Kart Kuruluşları‘nca online olarak gerçekleştirilmektedir, Bloomandfresh.com ilgili güvenlik standartlarına her daim uyum sağlamaktadır. 
					</p>
					<p class="plain-text">
						Kayıtlı bilgiler yasal düzenlemelerin öngördüğü sorumluluklar çerçevesinde ilgili kuruluşlara açıklanabilir. Ayrıca üyelikleri ve/veya alışverişleri sırasında vermiş oldukları iletişim bilgileri (telefon, adres, e-mail vs) ve diğer kişisel bilgiler Sitemize üyelik işlemlerinizin yapılması, güncellenmesi, muhtelif ürün/hizmetlerin Bloomandfresh.com ve iş ortakları ve tedarikçileri tarafından verilebilmesi/satımı, ürün/hizmet ücret-masrafı tahsilatları ve çeşitli tanıtım, reklam, promosyon, iletişim, satış ve çeşitli uygulamalar için süresiz olarak kayda alınabilir, Bloomandfresh.com ve belirtilen kuruluşlar nezdinde saklanabilir, işlenebilir, gerekli görülen hal-yer ve zamanda paylaşılabilir ve kullanılabilir. İade durumunda müşterinin ürünler için fatura ibraz etmesi zorunludur. 
					</p>
					<p class="plain-text">
						Sipariş ön bilgilendirme formu ve mesafeli satış sözleşmesi Bloomandfresh.com’dan yapılacak her alışveriş sırasında görülebilecek ve geçerli olacaktır. 
					</p>
					<p class="plain-text">
						Bloomandfresh.com belirli dönemlerde müşteri izinleri alınmış ve segmente edilmiş hedef kitlelerine eposta ve diğer yöntemler ile pazarlama ve bilgi mesajları gönderebilir, bu mesajları almak istemiyorsanız email içerisindeki üyelikten ayrıl linkine tıklayarak eposta listesinden çıkabilirsiniz. 
					</p>
					<p class="plain-text">
						Gizlilik politikamız ile ilgili her türlü soru ve öneriniz için sitemizdeki iletişim bölümünden bize ulaşabilirsiniz. 

					</p>
					<p class="plain-text">
						<strong>Ünvan:</strong> IF GİRİŞİM VE TEKNOLOJİ A.Ş.
					</p>
					<p class="plain-text">
						<strong>Adres:</strong> Barbaros Bul. Bahar Sok. No:4 K:6 D:17 Balmumcu Beşiktaş/İSTANBUL 
					</p>
					<p class="plain-text">
						<strong>Telefon:</strong> (212) 212 0 282
					</p>
					<p class="plain-text">
						<strong>E-Posta:</strong> siparis@bloomandfresh.com
					</p>
				</div>
				<div class="tab-pane text-left modal-body" id="on-bilgilendirme-sozlesmesi">
					<br>
					<p>
						<strong class="big-header"> Ön Bilgilendirme Formu </strong>
					</p>
					<br>

					<p>
						<strong class="small-header">1. SATICIYA İLİŞKİN BİLGİLER</strong>
					</p>

					<p class="plain-text">
						Ticari Ünvan:IF Girişim ve Teknoloji Anonim Şirketi (Bundan böyle “SATICI” olarak anılacaktır)
					</p>

					<p class="plain-text">
						Adres:Barbaros Bul. Bahar Sok. No:4 K:6 D:17 Balmumcu Beşiktaş-İstanbul
					</p>

					<p class="plain-text">
						Telefon:(212) 212 0 282
					</p>

					<p class="plain-text">
						Faks:(212) 212 0 292
					</p>

					<p class="plain-text">
						E-posta Adresi:siparis@bloomandfresh.com
					</p>

					<p class="plain-text">
						Mersis Numarası:0465041271300014
					</p>

					<br/>

					<p class="small-header">
						<strong>2. ALICIYA İLİŞKİN BİLGİLER</strong>
					</p>

					<p class="plain-text">
						Adı Soyadı: {{sender.name}} {{sender.surname}}
					</p>

					<p class="plain-text">
						Adresi:{{sender.small_city}} {{sender.city}}
					</p>

					<p class="plain-text">
						Telefon:{{sender.mobile}}
					</p>

					<p class="plain-text">
						E-posta Adresi:{{sender.email}}
					</p>
					<br/>

					<p class="small-header">
						<strong>3. KONU</strong>
					</p>

					<p class="plain-text">
						İşbu Ön Bilgilendirme Formu’nun konusu; Alıcının, aşağıda nitelik ve satış fiyatı belirtilen ürün ya da ürünlerin satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicilerin
						Korunması
						Hakkında Kanun ve 27 Kasım 2014 tarihli ve 29188 sayılı Resmi Gazetede yayınlanan Mesafeli Sözleşmelere Dair Yönetmelik hükümleri gereğince bilgilendirilmesidir.
					</p>
					<br/>

					<p class="small-header">
						<strong>4. SÖZLEŞME KONUSU ÜRÜNÜN TEMEL ÖZELLİKLERİ ve ÖDEME BİLGİLERİ</strong>
					</p>

					<p class="medium-text">
						<strong>
							İşbu kısımda sözleşme konusu ürün ya da ürünlerin temel özellikleri açıklanmaktadır.
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Mal/Ürün/Hizmet Türü: Çiçek ve Hediye Gönderimi
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Sipariş Numarası:
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Ürün Adı: {{flower.name}}
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Miktarı: 1
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Satış Fiyatı (Vergiler Dahil): {{flowerPrice}}
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Sipariş bedelinin ödenme şekli: Kredi Kartı veya Banka Kartı
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Teslimat Şekli: Servis/Anlaşmalı Kargo
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Teslim masraflarının tutarı :0,00 TL
						</strong>
					</p>
					<br/>

					<p>
						<strong class="small-header">
							5. MAL/HİZMETİN TESLİM ZAMANI
						</strong>
					</p>

					<p class="plain-text">
						Teslimat, sipariş sırasında seçilen tarih ve saat aralığı içerisinde gerçekleştirilecektir.
					</p>

                    <p class="plain-text">
                        Kargo ile gönderilen ürünlerde UPS Kargo Standart Hizmet Teslimat Süreleri Esastır
                    </p>

					<p>
						<strong class="small-header">
							6. MAL/HİZMETİN TESLİMATI
						</strong>
					</p>

					<p class="plain-text">
						Mal/hizmetin teslimi Alıcı veya gösterdiği adresteki kişi/kuruluşa yapılır. Alıcı, kendisinden başka birine ve de kendi adresinden başka bir adrese teslimat yapılmasını
						isterse, bu talebi
						doğrultusunda teslimat yapılır. Teslimat masrafları Alıcıya aittir. Satıcı, web sitesinde, ilan ettiği rakamın üzerinde alışveriş yapanların veya kimi kampanyalarında teslimat
						ücretinin
						kendisince karşılanacağını beyan etmişse, teslimat masrafı Satıcı tarafından karşılanır.
					</p>

					<p class="medium-text">
						<strong>
							Sipariş konusu mal/hizmetin teslimatı için işbu önbilgilendirme formunun Alıcı tarafından online olarak onaylanmış olması ve mal/hizmet bedelinin Alıcının tercih ettiği
							ödeme sekli ile
							ödenmiş olması şarttır. Herhangi bir nedenle mal/hizmet bedeli ödenmez veya banka kayıtlarında iptal edilir ise, Satıcı mal/hizmetin teslimi yükümlülüğünden kurtulmuş kabul
							edilir.
						</strong>
					</p>

					<p>
						<strong class="small-header">
							7. ÖDEME ŞEKLİ
						</strong>
					</p>

					<p class="plain-text">
						Ödemeler kredi kartı, EFT veya havale yöntemlerinden birisi kullanılarak yapılabilir.
					</p>

					<p>
						<strong class="small-header">
							8. GEÇERLİLİK SÜRESİ
						</strong>
					</p>

					<p class="plain-text">
						Listelenen ve siteden ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve vaatler güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen
						fiyatlar ise
						belirtilen süre sonuna kadar geçerliliğini korur. Ancak hatayla yanlış yazılan, tedarikçinin geç bildirmesi ile güncellenmemiş olan fiyat farklılıklarında Satıcının müşteriye
						bildireceği
						güncel fiyat geçerli kabul edilecektir. Hata durumlarında mal/hizmet bedelinden fazla çekim yapılmışsa farkı iade edilir. Mal/hizmetin gerçek fiyatı ilan edilenden farklı ise
						Alıcıya gerçek
						fiyat bildirilir. Müşterinin talebi doğrultusunda gerçek fiyat üzerinden satış gerçekleştirilir ya da satış iptal edilir.
					</p>

					<p>
						<strong class="big-header">
							9. CAYMA HAKKI
						</strong>
					</p>

					<p class="big-text">
						<strong>
							Alıcı mal satışına ilişkin mesafeli sözleşmelerde, malı teslim aldığı tarihten itibaren on dört gün içerisinde hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir
							gerekçe
							göstermeksizin malı reddederek sözleşmeden cayma hakkına sahiptir. Hizmet sunumuna ilişkin mesafeli sözleşmelerde ise, bu süre sözleşmenin imzalandığı tarihte başlar.
							Sözleşmede, hizmetin
							ifasının on dört günlük süre dolmadan yapılması kararlaştırılmışsa, tüketici ifanın başlayacağı tarihe kadar cayma hakkını kullanabilir. Cayma hakkının kullanımından
							kaynaklanan masraflar
							satıcıya aittir.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							Cayma hakkının kullanılması için Alıcı tarafından on dört günlük süre içinde Satıcıya yukarıda bildirilen faks, telefon veya elektronik posta ile bildirimde bulunulması
							şarttır. Cayma
							Hakkı kapsamında yer alan iade usulleri Mesafeli Satış Sözleşmesinde yer almaktadır. Bu hakkın kullanılması halinde, 3. kişiye veya Alıcıya teslim edilen mal/hizmete
							ilişkin fatura aslinin
							iadesi zorunludur. Cayma hakkına ilişkin ihbarın ulaşmasını takip eden en geç 14 (on dört) gün içinde mal/hizmet bedeli ve teslimat masrafları Alıcıya iade edilir ve 10
							(on) günlük süre
							içinde mal/hizmeti alıcı iade etmekle mükelleftir. Fatura asli gönderilmezse Alıcıya KDV ve varsa diğer yasal yükümlülükler iade edilemez. Cayma hakkı ile iade edilen
							mal/hizmetin teslimat
							bedeli Alıcı tarafından karşılanır.
						</strong>
					</p>
					<br/>

					<p>
						<strong class="big-header">
							10. CAYMA HAKKININ KULLANILAMAYACAĞI MAL/HİZMETLER
						</strong>
					</p>

					<p class="big-text">
						<strong>
							Niteliği itibarıyla iade edilemeyecek mal/hizmetler, hızla bozulan ve son kullanma tarihi geçen mal/hizmetler, tek kullanımlık mal/hizmetler, kopyalanabilir her türlü
							yazılım ve
							programlardır.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							b) Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							c) Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							ç) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin
							sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							e) Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf
							malzemelerine ilişkin
							sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							f) Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın
							değerlendirilmesine ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							ğ) Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallara ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							h) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin sözleşmeler.
						</strong>
					</p>
					<br/>

					<p>
						<strong class="small-header">
							11. GEÇERLİLİK
						</strong>
					</p>

					<p class="plain-text">
						İşbu ön bilgilendirme formu, elektronik ortamda Alıcı tarafından okunarak kabul edildikten sonra Mesafeli Satış Sözleşmesi kurulması aşamasına geçilecektir.
					</p>

					<br/>

					<p>
						<strong class="small-header">
							12. YETKİLİ MAHKEME
						</strong>
					</p>

					<p class="plain-text">
						Tüketici; şikâyet ve itirazları konusunda başvurularını, T.C. Gümrük ve Ticaret Bakanlığı tarafından her yıl Aralık ayında belirlenen parasal sınırlar dâhilinde tüketicinin mal
						veya hizmeti
						satın aldığı veya ikametgâhının bulunduğu yerdeki tüketici sorunları hakem heyetine veya tüketici mahkemesine yapabilir.
					</p>

					<p>
						<strong class="small-header">
							13. SON HÜKÜMLER
						</strong>
					</p>

					<p class="plain-text">
						Siparişe ilişkin verilen belge ve bilgilerin eksik, sahte ve/veya yanlış olduğunun saptanması veya siparişin kötü niyetle/veya ticari ve/veya kazanç elde etmek amacıyla
						yapılmış olduğuna dair
						şüphenin varlığı ya da tespiti halinde, herhangi bir zamanda, Alıcı’yı bilgilendirmek koşuluyla sipariş başvurusunu, gerekli incelemelerin yapılmasını teminen durdurma ve/veya
						iptal etme
						hakkını saklı tutar. İptal halinde, ödeme için iade süreci yine Alıcı’ya bildirilmek kaydıyla yapılabilir.
					</p>

					<p>
						<strong class="small-header">
							14. İSTİSNA
						</strong>
					</p>

					<p class="plain-text">
						İşbu ön bilgilendirme formunda yer alan ve 6502 sayılı Tüketicinin Korunması Hakkında Kanundan doğarak tüketicilere hukuki koruma sağlayan madde hükümleri sadece alıcının
						Tüketici olduğu
						hallerde geçerli olarak hüküm ifade edecek olup; alıcının 6502 sayılı kanunda yer alan Tüketici tanımına uymadığı hallerde ilgili maddeler taraflar arasında hüküm ifade
						etmeyecektir. 
					</p>

					<p class="plain-text">
						<strong>Alıcı;</strong> 6502 S.K.’un M. 48, f.2 ve Mes. Söz. Yön. 5., 6. ve 7. maddeleri gereğince Ön Bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli
						teyidi verdiğini
						kabul, taahhüt ve beyan eder.
					</p>
				</div>
				<div class="tab-pane text-left modal-body" id="mesafeli-satis-sozlesmesi">
					<br/>
					<p>
						<strong class="big-header"> Mesafeli Satış Sözleşmesi </strong>
					</p>
					<br>

					<p>
						<strong class="small-header">MADDE 1 - TARAFLAR</strong>
					</p>
					<br/>

					<p>
						<strong class="small-header">1.1 SATICI</strong>
					</p>

					<p class="plain-text">
						Ticari Ünvan:IF Girişim ve Teknoloji Anonim Şirketi (Bundan böyle “SATICI” olarak anılacaktır)
					</p>

					<p class="plain-text">
						Adres:Barbaros Bul. Bahar Sok. No:4 K:6 D:17 Balmumcu Beşiktaş-İstanbul
					</p>

					<p class="plain-text">
						Telefon:(212) 212 0 282
					</p>

					<p class="plain-text">
						Faks:(212) 212 0 292
					</p>

					<p class="plain-text">
						E-posta Adresi:siparis@bloomandfresh.com
					</p>

					<p class="plain-text">
						Mersis Numarası:0465041271300014
					</p>

					<br/>

					<p class="small-header">
						<strong>1.2 ALICI</strong>
					</p>

					<p class="plain-text">
						Adı Soyadı:
					</p>

					<p class="plain-text">
						Adresi:
					</p>

					<p class="plain-text">
						Telefon:
					</p>

					<p class="plain-text">
						E-posta Adresi:
					</p>
					<br/>

					<p class="small-header">
						<strong>MADDE 2 - KONU</strong>
					</p>

					<p class="plain-text">
						İşbu Sözleşmenin konusu, ALICI'nın SATICI'ya ait www.bloomandfresh.com İnternet sitesinden elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve satış fiyatı belirtilen
						ürünün satışı ve
						teslimi ile ilgili olarak 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeler Yönetmeliği hükümleri gereğince tarafların hak ve yükümlülüklerinin
						saptanmasıdır.
					</p>
					<br/>

					<p class="small-header">
						<strong>MADDE 3 - SÖZLEŞME KONUSU ÜRÜN</strong>
					</p>

					<p class="medium-text">
						<strong>
							Sözleşme Tarihi:
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Ürünün teslim tarihi/saat aralığı:
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Mal/Ürün/Hizmet Türü: Çiçek ve Hediye Gönderimi
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Sipariş Numarası:
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Ürün Adı:
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Miktarı: 1
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Satış Fiyatı (Vergiler Dahil): 
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Sipariş bedelinin ödenme şekli: Kredi Kartı veya Banka Kartı
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Teslimat Şekli: Servis/Anlaşmalı Kargo
						</strong>
					</p>

					<p class="medium-text">
						<strong>
							Teslim masraflarının tutarı :0,00 TL
						</strong>
					</p>
					<br/>

					<p>
						<strong class="big-header">
							MADDE 4 - CAYMA HAKKI
						</strong>
					</p>

					<p class="big-text">
						<strong>
							Alıcı mal satışına ilişkin mesafeli sözleşmelerde, malı teslim aldığı tarihten itibaren on dört gün içerisinde hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir
							gerekçe
							göstermeksizin malı reddederek sözleşmeden cayma hakkına sahiptir. Hizmet sunumuna ilişkin mesafeli sözleşmelerde ise, bu süre sözleşmenin imzalandığı tarihte başlar.
							Sözleşmede, hizmetin
							ifasının on dört günlük süre dolmadan yapılması kararlaştırılmışsa, tüketici ifanın başlayacağı tarihe kadar cayma hakkını kullanabilir. Cayma hakkının kullanımından
							kaynaklanan masraflar
							satıcıya aittir.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							Cayma hakkının kullanılması için Alıcı tarafından on dört günlük süre içinde Satıcıya yukarıda bildirilen faks, telefon veya elektronik posta ile bildirimde bulunulması
							şarttır. Cayma
							Hakkı kapsamında yer alan iade usulleri Mesafeli Satış Sözleşmesinde yer almaktadır. Bu hakkın kullanılması halinde, 3. kişiye veya Alıcıya teslim edilen mal/hizmete
							ilişkin fatura aslinin
							iadesi zorunludur. Cayma hakkına ilişkin ihbarın ulaşmasını takip eden en geç 14 (on dört) gün içinde mal/hizmet bedeli ve teslimat masrafları Alıcıya iade edilir ve 10
							(on) günlük süre
							içinde mal/hizmeti alıcı iade etmekle mükelleftir. Fatura asli gönderilmezse Alıcıya KDV ve varsa diğer yasal yükümlülükler iade edilemez. Cayma hakkı ile iade edilen
							mal/hizmetin teslimat
							bedeli Alıcı tarafından karşılanır.
						</strong>
					</p>
					<br/>

					<p>
						<strong class="big-header">
							MADDE 5 - CAYMA HAKKININ KULLANILAMAYACAĞI MAL/HİZMETLER
						</strong>
					</p>

					<p class="big-text">
						<strong>
							Niteliği itibarıyla iade edilemeyecek mal/hizmetler, hızla bozulan ve son kullanma tarihi geçen mal/hizmetler, tek kullanımlık mal/hizmetler, kopyalanabilir her türlü
							yazılım ve
							programlardır.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							b) Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							c) Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							ç) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin
							sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							e) Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf
							malzemelerine ilişkin
							sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							f) Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın
							değerlendirilmesine ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							ğ) Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallara ilişkin sözleşmeler.
						</strong>
					</p>

					<p class="big-text">
						<strong>
							h) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin sözleşmeler.
						</strong>
					</p>
					<br/>

					<p>
						<strong class="small-header">
							MADDE 6 - GENEL HÜKÜMLER
						</strong>
					</p>

					<p class="plain-text">
						<strong>6.1</strong> ALICI, Madde 3'te belirtilen Sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin tüm ön bilgileri okuyup bilgi
						sahibi olduğunu ve
						elektronik ortamda gerekli teyidi verdiğini beyan eder.
					</p>

					<p class="plain-text">
						<strong>6.2</strong> Sözleşme konusu ürün, yasal 30 (otuz) günlük süreyi aşmamak koşulu ile her bir ürün için ALICI'nın yerleşim yerinin uzaklığına bağlı olarak ön bilgiler
						içinde açıklanan
						süre içinde ALICI veya gösterdiği adresteki kişi/kuruluşa teslim edilir. Satıcı bu yükümlülüğüne aykırı davranır ise tüketici işbu Sözleşme’yi feshedebilir. Sözleşme’nin feshi
						durumunda,
						satıcı veya sağlayıcı, varsa teslimat masrafları da dahil olmak üzere tahsil edilen tüm ödemeleri fesih bildiriminin kendisine ulaştığı tarihten itibaren 14 (ondört) gün içinde
						tüketiciye
						ilgili mevzuat uyarınca belirlenen kanuni faiziyle birlikte geri ödemek ve varsa tüketiciyi borç altına sokan tüm kıymetli evrak ve benzeri belgeleri iade etmek zorundadır.
					</p>

					<p class="plain-text">
						<strong>6.3</strong> Sözleşme konusu ürün, ALICI'dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden SATICI sorumlu
						tutulamaz.
					</p>

					<p class="plain-text">
						<strong>6.4</strong> SATICI, Sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere uygun olarak teslim edilmesinden sorumludur. Haklı bir sebebe dayanmak
						şartıyla SATICI,
						Sözleşme’den doğan ifa yükümlülüğünün süresi dolmadan, ALICI’ya eşit kalite ve fiyatta mal veya hizmet tedarik edebilir.
					</p>

					<p class="plain-text">
						<strong>6.5</strong> Sözleşme konusu ürünün teslimatı için işbu Sözleşme’nin elektronik ortamda teyit edilmesi ve Sözleşme konusu siparişin bedelinin ödenmesi şarttır. Herhangi
						bir nedenle ürün
						bedeli ödenmez veya banka kayıtlarında iptal edilir ise, SATICI ürün teslimi yükümlülüğünden kurtulmuş kabul edilir.
					</p>

					<p class="plain-text">
						<strong>6.6</strong> SATICI sipariş konusu mal ya da hizmet ediminin yerine getirilmesinin imkansızlaştığı hallerde durumu öğrendiği tarihten itiberen 3 gün içerisinde ALICI'ya
						durumu yazılı
						olarak veya kalıcı veri saklayıcısı ile bildirmekle yükümlüdür. Bu durumda SATICI teslimat masrafları da dahil olmak üzere tahsil edilen tüm ödemeleri bildirim tarihinden
						itibaren en geç 14
						(ondört) gün içerisinde ALICI’ya iade eder.
					</p>

					<p class="plain-text">
						<strong>6.7</strong> SATICI, malın ALICI ya da ALICI’nın taşıyıcı dışında belirleyeceği üçüncü bir kişiye teslimine kadar oluşan kayıp ve hasarlardan sorumludur.
					</p>

					<p class="plain-text">
						<strong>6.8</strong> ALICI’nın SATICI’nın belirlediği taşıyıcı dışında başka bir taşıyıcı ile malın gönderilmesini talep etmesi durumunda, malın ilgili taşıyıcıya tesliminden
						itibaren
						oluşabilecek kayıp ya da hasardan SATICI sorumlu değildir.
					</p>

					<p class="plain-text">
						<strong>6.9</strong> SATICI tarafından sunulan hizmet perakende satış kapsamında tüketiciye yöneliktir; SATICI, ALICI’nın yeniden satış amacı bulunduğundan şüphe etmesi halinde
						işbu Sözleşme
						kurulmuş olsa dahi siparişi iptal etme ve ürünleri teslim etmeme hakkını saklı tutar.
					</p>

					<p class="plain-text">
						<strong>6.10</strong> SATICI mücbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumlar nedeni ile Sözleşme konusu ürünü süresi
						içinde teslim edemez
						ise, durumu ALICI'ya bildirmekle yükümlüdür. Bu takdirde ALICI siparişin iptal edilmesini, Sözleşme konusu ürünün varsa emsali ile değiştirilmesini, ve/veya teslimat süresinin
						engelleyici
						durumun ortadan kalkmasına kadar ertelenmesi haklarından birini kullanabilir. ALICI'nın siparişi iptal etmesi halinde ödediği tutar 14 gün içinde kendisine nakden ve defaten
						ödenir.
					</p>
					<br/>

					<p>
						<strong class="small-header">
							MADDE 7 - YETKİLİ MAHKEME
						</strong>
					</p>

					<p class="plain-text">
						İşbu Sözleşmenin uygulanmasında, tüketici; şikâyet ve itirazları konusunda başvurularını, T.C. Gümrük ve Ticaret Bakanlığı tarafından her yıl Aralık ayında belirlenen parasal
						sınırlar
						dâhilinde tüketicinin mal veya hizmeti satın aldığı veya ikametgâhının bulunduğu yerdeki tüketici sorunları hakem heyetine veya tüketici mahkemesine yapabilir.
					</p>

					<p>
						<strong class="small-header">
							İstisna
						</strong>
					</p>

					<p class="plain-text">
						İşbu mesafeli satış sözleşmesinde yer alan ve 6502 sayılı Tüketicinin Korunması Hakkında Kanundan doğarak tüketicilere hukuki koruma sağlayan madde hükümleri sadece alıcının
						Tüketici olduğu
						hallerde geçerli olarak hüküm ifade edecek olup; alıcının 6502 sayılı kanunda yer alan Tüketici tanımına uymadığı hallerde ilgili maddeler taraflar arasında hüküm ifade
						etmeyecektir.
					</p>

					<p class="plain-text">
						IF Girişim ve Teknoloji Anonim Şirketi A.Ş.
					</p>
				</div>
			</aside>
		</section>

		<span class="footerLink darkBlueText">
			Bunlar dışında soruların varsa bizimle iletişime geçebilirsin <a class="contactUsButton ion-chevron-right lightBrownText" role="button" ui-sref="contactUs()"></a>
		</span>
	</article>

</main>

<bf-footer></bf-footer>