<navbar-menu></navbar-menu>
<main class="contactUs" ng-app="flowerDiscount" style="display: inline-block;text-align: center;">
    <div style="width: 100%;height: 60px;border-bottom: 1px solid #e7e7e7;background-color: white;">
        <figure style="padding-top: 18px;position: inherit;text-align: left;" class="">
            <a class="breadPadding" href="/"
               style="padding-left: 30px;font-family: 'Gotham Light';font-size: 18px;color: rgb(129, 106, 74);"
               class="ng-binding ng-scope">Anasayfa</a>
            <img class="breadPadding"
                 src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/arrow_breadCrum.jpg"
                 style="padding-left: 15px;padding-bottom: 4px;padding-right: 15px;">
            <a class="breadPadding" href="/kurumsal-siparisler"
               style="font-weight: 700;font-family: 'Gotham Light';font-size: 18px;color: #3b454d;"
               class="ng-binding ng-scope">Turkcell Platinum İndirimi</a>
        </figure>
    </div>
    <header style="background: url('https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/indirimi_web_bannerBig.jpg');background-size: cover;background-position-y: -374px;height: 411px;"
            class="pageHeader jumbotron text-center">
        <h1 style="padding-top: 99px;font-size: 52px;color: #fbfbfb;text-shadow: 0px 0px 17px #3b454d;"
            class="pageTitle">
            Turkcell Platinum <br> %15 İndirimi!
        </h1>
    </header>
    <section
            style="padding-bottom: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;margin-right: auto;margin-left: auto;display: inherit;max-width: 1400px;float: none;"
            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div style="padding-top: 40px;padding-bottom: 10px;"
             class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;font-weight: 800;"
                class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                Turkcell Platinum %15 Bloom and Fresh İndirim Kampanyası
            </h4>

            <p style="font-family: 'Gotham Light';font-size: 18px;line-height: 25px;">
                Turkcell Platinum Müşterileri Bloom and Fresh’in stil sahibi çiçeklerini sevdiklerine %15 indirimli gönderiyor!
                <br>
                30 Haziran 2020 sonuna kadar Turkcell Platinum uygulamasından alacağın sana özel indirim
                <br>
                kodu ile web sitemiz üzerinden vereceğin çiçek siparişi %15 indirimli!
                <br>
                <br>
                <span style="font-weight: bold;">Hatırlatalım: her ay bir kez kullanabileceğin bu indirim tüm çiçeklerde alt/üst limit olmaksızın
                <br>
                geçerli (maalesef çikolata, hediye kutusu, makaron vb. çiçek dışı ve marka ortaklıkları
                <br>
                ürünlerinde geçerli değil) ve 30 Haziran gecesi 23:59’da sona eriyor.
                </span>
            </p>
            <img style="width: 340px;" src="https://bloomandfresh.com/public/css/PLATINUM_LOGO.jpg">
            <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
        </div>
    </section>
    <section
            style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;margin-right: auto;margin-left: auto;display: inherit;max-width: 1400px;float: none;"
            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div style="padding-top: 17px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;"
                class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                Turkcell Platinum İndriminden Nasıl Yararlanabilirsin?
            </h4>

            <p style="font-family: 'Gotham Light';font-size: 18px;line-height: 25px;text-align: left;max-width: 530px;margin-left: auto;margin-right: auto;">
                <span style="font-weight: bold">1)</span> Turkcell Platinum uygulamasından sana özel indirim kodunu al!
                <br>
                <span style="font-weight: bold">2)</span> Web sitemize üye girişini yap! (Üye değilsen hemen üye ol; indirimden yalnızca
                üyeler yararlanabiliyor!)
                <br>
                <span style="font-weight: bold">3)</span> Göndermek istediğin çiçeği seç, bilgileri doldur!
                <br>
                <span style="font-weight: bold">4)</span> Ödeme Sayfası’nda “Kupon Ekle” butonuna bas; açılan pencereye kodunu gir, gerisini
                bize bırak!
            </p>

            <div style="margin-bottom: 25px;margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a style="width: 208px;background: #816a4a;background-color: #816a4a;color: #ffffff;" class="btn-bloomNfresh btn btn-default text-uppercase" href="/"><b>Siparişe
                    Başla!</b></a>
            </div>
            <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <img style="width: 100%;"
                 src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/page_photo_1.jpg">
        </div>
    </section>
    <section
            style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;margin-right: auto;margin-left: auto;display: inherit;max-width: 1400px;float: none;"
            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <img style="width: 100%;"
                 src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/page_photo_2.jpg">
        </div>
        <div style="padding-top: 10px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="margin-top: 0px;padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;"
                class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                Kampanya Koşulları
            </h4>

            <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 18px;text-align: left;max-width: 530px;margin-left: auto;margin-right: auto;">
                <span style="font-weight: bold">-</span> %15 İndirim www.bloomandfresh.com'a üye girişi yapıldıktan sonra Ödeme Sayfası'nda Turkcell
                Platinum uygulaması aracılığıyla alınacak indirim kodu ile kullanılabilir. Indirim kodu tek kullanımlıktır.
                <br>
                <span style="font-weight: bold">-</span> İndirim www.bloomandfresh.com web sitesinde online siparişte yer alan tüm çiçeklerde
                geçerlidir. Çikolata, hediye kutusu vb. marka ortaklıları içeren ürünlerde indirim geçerli değildir.
                <br>
                <span style="font-weight: bold">-</span> %15 İndirim 30 Haziran 2020 23:59'a kadar www.bloomandfresh.com üzerinde gerçekleştirilecek
                satın almalarda geçerlidir. Belirtilen tarihten sonra geçerliliği yitirir, kullanılamaz.
                <br>
                <span style="font-weight: bold">-</span> Studio Bloom ve özel tasarım çiçeklerde, kurumsal veya toplu siparişlerde indirim geçerli
                değildir.
                <br>
                <span style="font-weight: bold">-</span> Turkcell Platinum indirimi farklı indirimlerle/kampanyalarla (Yeni Üye İndirimi, Özel Kuponlar v.b)
                birleştirilemez.
                <br>
                <span style="font-weight: bold">-</span> Ürünler ve teslimat aralıkları Bloom and Fresh operasyonel durumuna göre farklılık gösterebilir.
                <br>
                <span style="font-weight: bold">-</span> Turkcell İletişim Hizmetleri A.Ş. ve /veya Bloom and Fresh (IF Girişim ve Teknoloji A.Ş.)
                kampanya şartlarında değişiklik yapma hakkını saklı tutar.

            </p>
            <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
        </div>
    </section>
</main>

<bf-footer></bf-footer>
