<navbar-menu></navbar-menu>
<main class="contactUs" ng-app="flowerDiscount" style="display: inline-block;text-align: center;">
    <div style="width: 100%;height: 60px;border-bottom: 1px solid #e7e7e7;background-color: white;">
        <figure style="padding-top: 18px;position: inherit;text-align: left;" class="">
            <a class="breadPadding" href="/"
               style="padding-left: 30px;font-family: 'Gotham Light';font-size: 18px;color: rgb(129, 106, 74);"
               class="ng-binding ng-scope">Anasayfa</a>
            <img class="breadPadding"
                 src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/arrow_breadCrum.jpg"
                 style="padding-left: 15px;padding-bottom: 4px;padding-right: 15px;">
            <a class="breadPadding" href="/kurumsal-siparisler"
               style="font-weight: 700;font-family: 'Gotham Light';font-size: 18px;color: #3b454d;"
               class="ng-binding ng-scope">Troy İndirimi</a>
        </figure>
    </div>
    <header style="background: url('https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/indirimi_web_bannerBig.jpg');background-size: cover;background-position-y: -374px;height: 411px;"
            class="pageHeader jumbotron text-center">
        <h1 style="padding-top: 99px;font-size: 52px;color: #fbfbfb;text-shadow: 0px 0px 17px #3b454d;"
            class="pageTitle">
            TROY logolu kartlara <br> 30 TL İndirim!
        </h1>
    </header>
    <section
            style="padding-bottom: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;margin-right: auto;margin-left: auto;display: inherit;max-width: 1400px;float: none;"
            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div style="padding-top: 40px;padding-bottom: 10px;"
             class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;font-weight: 800;"
                class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                TROY 30 TL Bloom and Fresh İndirim Kampanyası
            </h4>

            <p style="font-family: 'Gotham Light';font-size: 18px;line-height: 25px;">
                Ödemelerini TROY logolu kartlar ile yapanlar Bloom and Fresh’in
                <br>
                stil sahibi çiçeklerini 30 TL indirimli gönderiyor! 
                <br>
                15 Mayıs 2019 sonuna kadar web sitemiz
                <br>
                <a href="https://bloomandfresh.com" > www.bloomandfresh.com </a>  üzerinden alışverişini TROY logolu <br>
                kartı ile gerçekleştirenler anında 30 TL indirimden faydalanıyor!
            </p>
            <img style="width: 340px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/Troy-Logo.jpg">
            <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
        </div>
    </section>
    <section
            style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;margin-right: auto;margin-left: auto;display: inherit;max-width: 1400px;float: none;"
            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div style="padding-top: 40px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;"
                class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                TROY İndiriminden Nasıl Yararlanabilirsin?
            </h4>

            <p style="font-family: 'Gotham Light';font-size: 18px;line-height: 25px;text-align: left;max-width: 630px;margin-left: auto;margin-right: auto;">
                <span style="font-weight: bold">1)</span> Dilediğin Bloom and Fresh çiçeğini veya ürününü seç, sipariş bilgilerini doldur ve “Ödeme Sayfası”na ilerle!
                <br>
                <span style="font-weight: bold">2)</span> Ödeme Bilgilerine TROY logolu kartının bilgilerini gir ve gerisini bize bırak! 30 TL indirimi anında ekranda göreceksin.
            </p>

            <div style="margin-bottom: 25px;margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a style="width: 208px;background: #3b454d;background-color: #3b454d;color: #ffffff;" class="btn-bloomNfresh btn btn-default text-uppercase" href="/"><b>Siparişe
                    Başla!</b></a>
            </div>
            <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <img style="width: 100%;"
                 src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/foto_1.jpg">
        </div>
    </section>
    <section
            style="padding-bottom: 25px;padding-top: 25px;border: none;background-color: white;height: 100%;margin-right: auto;margin-left: auto;display: inherit;max-width: 1400px;float: none;"
            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <img style="width: 100%;"
                 src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/foto_2.jpg">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4 style="margin-top: 0px;padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;"
                class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                Kampanya Koşulları
            </h4>

            <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 17px;text-align: left;max-width: 585px;margin-left: auto;margin-right: auto;">
                <span style="font-weight: bold">-</span>
                <a href="https://bloomandfresh.com">www.bloomandfresh.com</a> web sitesi üzerinden gerçekleştirilecek online siparişlerde TROY logolu banka/kredi ve ön ödemeli kartlar ile gerçekleştirilecek ödeme işlemlerinde 30 TL indirim uygulanacaktır.
                <br>
                <span style="font-weight: bold">-</span>
                İndirim, kullanıcıların web sitesi üzerinde “Ödeme Sayfası”nda TROY logolu banka/kredi ve ön ödemeli kartlarına ait bilgileri girdiklerinde anında görüntülenecek, ödeme işlemi gerçekleştiğinde de uygulanacaktır.
                <br>
                <span style="font-weight: bold">-</span>
                Kampanya tek seferde yapılacak peşin veya taksitli 100 TL ve üzeri ödemelerde geçerli olup, 100 TL altı tutarlarda indirim uygulanmayacaktır.
                <br>
                <span style="font-weight: bold">-</span>
                Kampanya 8 Nisan 2019 00:00 ile 15 Mayıs 2019 23:59 arasında geçerlidir. Belirtilen tarihte geçerliliğini yitirir, kullanılamaz.
                <br>
                <span style="font-weight: bold">-</span>
                Kampanya yalnızca <a href="https://bloomandfresh.com">www.bloomandfresh.com</a> web sitesi üzerinden gerçekleştirilen online ödemelerde geçerli olup, Studio Bloom, Özel Tasarım Çiçekler, Kurumsal Toplu Siparişler vb. diğer ödemelerde geçerli değildir.
                <br>
                <span style="font-weight: bold">-</span>
                Ürünler, stoklar ve teslimat aralıkları Bloom and Fresh operasyonel durumuna göre farklılık gösterebilir.
                <br>
                <span style="font-weight: bold">-</span>
                Kampanya 1000 adet ile sınırlıdır.
                <br>
                <span style="font-weight: bold">-</span>
                İF Girişim ve Teknoloji A.Ş. ve/veya Bankalararası Kart Merkezi kampanya şartlarında değişiklik yapma hakkını saklı tutar.
            </p>
            <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
        </div>
    </section>
</main>

<bf-footer></bf-footer>
