<footer class="container-fluid">
    <section>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
             name="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/logos/bloomandfresh-logo3-v2.png"
             class="bAndfLogo lazyFooter" alt="Bloom And Fresh Logo">

        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 footerLinks">
            <h6 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase lightBrownText sectionHeader">
                Bloom&Fresh </h6>
            <ul>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="pull-left whiteText"
                                                                       ui-sref="flowers({baseUrl:'{{::'FLOWERS_URL' | translate }}',tagUrl:'{{::'FLOWERS_URL_TAG' | translate}}'})"
                                                                       hreflang="{{'HREFLANG' | translate}}"
                                                                       title="{{::'FLOWERS_URL_TITLE' | translate}}">
                    {{::'FLOWERS_NAME' | translate}} </a></li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="pull-left whiteText"
                                                                       ui-sref="how({baseUrl: '{{'HOW_URL' | translate}}'})"
                                                                       hreflang="{{'HREFLANG' | translate}}"
                                                                       title="{{::'HOW_URL_TITLE' | translate}}">
                    {{::'HOW_NAME' | translate}} </a></li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="pull-left whiteText"
                                                                       ui-sref="aboutUs({baseUrl: '{{'ABOUT_US_URL' | translate}}'})"
                                                                       hreflang="{{'HREFLANG' | translate}}"
                                                                       title="{{::'ABOUT_US_URL_TITLE' | translate}}">
                    {{::'ABOUT_US_NAME' | translate}} </a></li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="pull-left whiteText footer-blog"
                                                                       href="http://bloomandfresh.com/blog"
                                                                       target="_blank"
                                                                       hreflang="{{'HREFLANG' | translate}}"
                                                                       title="Bloom And Fresh Blog"> Blog </a></li>
            </ul>
        </div>


        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 footerLinks">
            <h6 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase lightBrownText sectionHeader">
                {{::'OTHER_HEADER' |translate}}</h6>
            <ul>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="pull-left whiteText"
                                                                       ui-sref="help({baseUrl: '{{'HELP_URL' | translate}}'})"
                                                                       hreflang="{{'HREFLANG' | translate}}"
                                                                       title="{{::'HELP_TITLE' | translate}}">
                    {{::'HELP_NAME' | translate}} </a></li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="pull-left whiteText"
                                                                       ui-sref="contactUs({baseUrl: '{{'CONTACT_US_URL' | translate}}'})"
                                                                       hreflang="{{'HREFLANG' | translate}}"
                                                                       title="{{::'CONTACT_US_TITLE' | translate}}">
                    {{::'CONTACT_HEADER' | translate}} </a></li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contracts"><a class="pull-left whiteText"
                                                                                 ui-sref="contracts"
                                                                                 hreflang="{{'HREFLANG' | translate}}"
                                                                                 title="{{::'CONTRACTS_URL_TITLE' | translate}}"
                                                                                 rel="nofollow"> {{::'PRIVACY' |
                    translate}} </a></li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="pull-left whiteText" ui-sref="contracts"
                                                                       hreflang="{{'HREFLANG' | translate}}"
                                                                       title="{{::'CONTRACTS_URL_TITLE' | translate}}"
                                                                       rel="nofollow"> {{::'CONTRACTS' |
                    translate}} </a></li>
            </ul>
        </div>

        <div class="clearfix visible-xs-block hidden-xs"></div>

        <div class="aboutUs col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <h6 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase lightBrownText sectionHeader">
                {{::'CONTACT_HEADER_2' |translate}} </h6>

            <p style="margin-bottom: 0px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 whiteText">
                hello@bloomandfresh.com
            </p>
            <a href="tel:+902122120282" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 whiteText">
                (212) 212 0 282
            </a>
        </div>


        <div class="col-xs-12 hidden-lg hidden-md hidden-sm"></div>

        <div class="clearfix visible-md-block visible-sm-block hidden-xs"></div>


        <div class="col-xs-6 hidden-lg hidden-md hidden-sm footerLinks">
            <h6 class="col-xs-12 text-uppercase lightBrownText sectionHeader">
                GÖNDERİM AMACI </h6>
            <ul>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/yeni-yil-koleksiyonu"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Yılbaşı Hediyeleri </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/sevgililer-gunu-cicekleri"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Sevgiliye Çiçek </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/yeni-is-cicekleri"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Yeni İş / Terfi</a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/dogum-gunu-cicekleri"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Doğum Günü </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/erkeklere-gonderilebilecek-cicekler"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Erkeğe Çiçek </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/nedensiz-cicek-gonder	"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        İçimden Geldi </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/gecmis-olsun-cicekleri"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Geçmiş Olsun </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/toren-acilis-cicekleri"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Açılış / Tören</a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/yil-donumu-cicekleri"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Yıl Dönümü </a>
                </li>
            </ul>
            <h6 class="col-xs-12 text-uppercase lightBrownText sectionHeader">
                FİYAT ARALIĞI </h6>
            <ul>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/indirimli-cicek"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        0 - 150 TL </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/150Tl-cicek-gonder"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        150 TL + </a>
                </li>
            </ul>
        </div>

        <div class="col-xs-6 hidden-lg hidden-md hidden-sm footerLinks">
            <h6 class="col-xs-12 text-uppercase lightBrownText sectionHeader">
                ÇİÇEKLER </h6>
            <ul>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/teraryum"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Teraryum </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/orkide"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Orkide</a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/gul"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Güller </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/sukulent-kaktus"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Sukulent / Kaktüs </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/solmayan-gul"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Solmayan Güller </a>
                </li>
            </ul>
            <h6 class="col-xs-12 text-uppercase lightBrownText sectionHeader">
                HEDİYE KUTULARI </h6>
            <ul>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/erkek-arkadasa-hediyeler"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Erkek </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/kiz-arkadasa-hediye"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Kadın </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/bebek-hediyeleri"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Bebek </a>
                </li>
            </ul>
            <h6 class="col-xs-12 text-uppercase lightBrownText sectionHeader">
                Çikolatalar </h6>
            <ul>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/cikolata"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Çikolata Koleksiyonu </a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 hidden-lg hidden-md hidden-sm"></div>

        <div class="col-xs-6 hidden-lg hidden-md hidden-sm footerLinks">
            <h6 class="col-xs-12 text-uppercase lightBrownText sectionHeader">
                Sunum Türleri </h6>
            <ul>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/ozel-tasarim-cicekler"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Tasarım Çiçekler </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/buket-cicek"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Buket Çiçekler </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/vazoda-cicek"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Vazo / Masaüstü </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/saksi-cicekleri"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Saksı / Topraklı </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/kutu-cicek"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Kutuda Çiçek </a>
                </li>
                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="pull-left whiteText" href="/hediye-kutulari"
                       hreflang="{{'HREFLANG' | translate}}" title="{{::'FLOWERS_URL_TITLE' | translate}}">
                        Hediye Kutuları </a>
                </li>
            </ul>
        </div>

        <form class="contactUs col-lg-3 col-md-4 col-sm-5 hidden-xs" method="post" novalidate>
            <h6 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase lightBrownText sectionHeader">
                {{::'AWARENESS' | translate}} </h6>

            <p class="whiteText formText col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{::'AWARENESS_INFO' | translate}}
            </p>

            <bf-news-subscription
                    class="form-group sendEmail col-lg-11 col-md-11 col-sm-11 col-xs-11"></bf-news-subscription>
        </form>

        <div class="social col-lg-2 col-md-4 col-sm-4 col-xs-12">
            <h6 style="margin-bottom: 20px !important;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase lightBrownText sectionHeader">
                {{::'SOCIAL_NAME' | translate}} </h6>

            <ul class="">
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-3 socialLink">
                    <a href="https://instagram.com/bloomandfresh/" target="_blank" class="instagramButton"
                       title="{{::'INS_URL_TITLE' | translate}}">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="lazyFooter"
                                name="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/icons/social-icons/instagram-icon-white.png"
                             alt="{{::'INS_IMG_ALT' | translate}}">
                    </a></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-3 socialLink"><a
                        href="https://www.facebook.com/bloomandfresh?ref=hl" target="_blank" class="facebookButton"
                        title="{{::'FB_URL_TITLE' | translate}}"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="lazyFooter"
                        name="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/icons/social-icons/facebook-icon-white.png"
                        alt="{{::'FB_IMG_ALT' | translate}}"></a></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-3 socialLink"><a
                        href="https://www.pinterest.com/bloomandfresh/" target="_blank" class="pinterestButton"
                        title="{{::'PIN_URL_TITLE' | translate}}"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="lazyFooter"
                        name="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/icons/social-icons/pinterest-icon-white.png"
                        alt="{{::'PIN_IMG_ALT' | translate}}"></a></li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-3"><a href="https://twitter.com/BloomAndFresh"
                                                                   target="_blank" class="twitterButton"
                                                                   title="{{::'TW_URL_TITLE' | translate}}"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="lazyFooter"
                        name="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/icons/social-icons/twitter-icon-white.png"
                        alt="{{::'TW_IMG_ALT' | translate}}"></a></li>
            </ul>
        </div>

        <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>

        <div class="cardLogos col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img style="width: 76px;"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="lazyFooter"
                    name="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/SSL-Secure-Connection.png">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="lazyFooter"
                 style="width: 84px;height: 27px;" name="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/icons/card-icons/visaCard_logo-1.png">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="lazyFooter"
                    style="width: 60px;height: 40px;"
                    name="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/icons/card-icons/masterCard_logo-1.png">
           <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="lazyFooter"
                    style="width: 104px;" name="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/isbank_logo.png">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="lazyFooter"
                 style="width: 70px;margin-left: 10px;" name="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/Troy-Logo.jpg">
            <!--<span class="logo comodoSecure"></span>

            <div style="margin-left: 108px;" class="cards">

                <span class="logo mastercard"></span>
                <span class="logo visa"></span>
                <span class="logo garantiPost"></span>
            </div>-->
        </div>

        <div class="tradeMarkContainer pull-right">
            <p class="tradeMark lightBrownText">
                Copyright &#169;2019 IF Girişim ve Teknoloji A.Ş.
            </p>
        </div>

    </section>


    <script type="text/javascript">

        registerListener('load', setLazy);
        registerListener('load', lazyLoad);
        registerListener('scroll', lazyLoad);

        var lazyFooter = [];
        //console.log('Started');
        lazyFooter = document.getElementsByClassName('lazyFooter');
        function setLazy() {
            //console.log('Started');
            lazyFooter = document.getElementsByClassName('lazyFooter');
            //console.log('Found ' + lazy.length + ' lazy images');

        }

        function lazyLoad() {

            //console.log( window.innerHeight + ' window inner' );
            //console.log( document.body.scrollTop + ' clientHeight' );

            //console.log(lazy.length);
            for (var i = 0; i < lazyFooter.length; i++) {
                if (isInViewport(lazyFooter[i])) {
                    if (lazyFooter[i].getAttribute('name')) {
                        lazyFooter[i].src = lazyFooter[i].getAttribute('name');
                        lazyFooter[i].removeAttribute('name');
                    }
                }
            }

            cleanLazy();
        }

        function cleanLazy() {
            lazyFooter = Array.prototype.filter.call(lazyFooter, function (l) {
                return l.getAttribute('name');
            });
        }

        function isInViewport(el) {
            var rect = el.getBoundingClientRect();

            //console.log(rect.top + ' rect top');
            //console.log(window.innerHeight + document.body.scrollTop);
            //console.log(window.innerHeight + document.body.scrollTop > rect.top);
            //console.log('------ ------- --------');

            if (window.innerHeight + document.body.scrollTop > rect.top && rect.top != 0) {
                return 1;
            }
            else
                return 0;


            //console.log( rect.top + ' rect top' );
            //console.log( window.innerHeight + ' window inner' );
            //console.log( document.documentElement.clientHeight + ' clientHeight' );


            return (
            rect.bottom >= 0 &&
            rect.right >= 0 &&
            rect.top <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.left <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }

        function registerListener(event, func) {
            if (window.addEventListener) {
                window.addEventListener(event, func)
            } else {
                window.attachEvent('on' + event, func)
            }
        }
    </script>

</footer>

