<navbar-menu></navbar-menu>
<main class="contactUs" ng-app="godiva">
    <div style="width: 100%;height: 60px;border-bottom: 1px solid #e7e7e7;background-color: white;">
        <figure style="padding-top: 18px;position: inherit;" class="">
            <a class="breadPadding" href="/"
               style="padding-left: 30px;font-family: 'Gotham Light';font-size: 18px;color: rgb(129, 106, 74);"
               class="ng-binding ng-scope">Anasayfa</a>
            <img class="breadPadding"
                 src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/arrow_breadCrum.jpg"
                 style="padding-left: 15px;padding-bottom: 4px;padding-right: 15px;">
            <a class="breadPadding" href="/godiva-cikolata-gonder"
               style="font-weight: 700;font-family: 'Gotham Light';font-size: 18px;color: #3b454d;"
               class="ng-binding ng-scope">Bloomandfresh Abonelik</a>
        </figure>
    </div>
    <header style="background: url('https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/abone/kapiniziheptazeciceklercalsin.jpg');height: 400px;"
            class="pageHeader jumbotron text-center">
        <h1 style="color: #3b454d;" class="pageTitle">
            Kapınızı Hep Taze Çiçekler Çalsın
        </h1>
        <small style="color: #3b454d;" class="pageInfo center-block lightBrownText">Çiçekler süper hiç uğraşma. Her
            seferinde kapını en taze çiçekler çalsın!
        </small>

        <div style="padding-top: 23px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a style="width: 208px;border-color: #242b31;" class="btn-bloomNfresh btn btn-default text-uppercase"
               href="/"><b>Siparişe Başlayayım</b></a>
        </div>
        <span class="down-icon center-block"></span>
    </header>

    <article class="bloomBlog">
        <section class="container-fluid fixed-width">
            <header style="padding-bottom: 3em;margin: 0 .4em 1.45em;padding-top: 4.3em;" class="topPaddingZero row">
                <aside style="padding-top: 86px;" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <section style="padding-top: 20px;padding-left: 9%;"
                             class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-offset-1 col-sm-9 col-xs-offset-0 col-xs-12">
                        <h4 style="font-size: 24px;font-family: 'Gotham Black';color: #3b454d;margin-bottom: 20px;line-height: 25px;letter-spacing: 1px;"
                            class=" text-left lightBrownText">BLOOMANDFRESH ABONELİĞİ NASIL OLUYOR</h4>
                    </section>
                </aside>
                <article class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <figure style="min-width: 255px;"
                            class="removeMargin col-lg-3 col-md-4  col-sm-3 col-xs-12">
                        <img src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/abone/1-ciceginisec.jpg"
                             alt="{{::'CHOICE_IMG_ALT' | translate}}"
                             class="center-block howImg-1">
                        <figcaption style="padding: 1em 0;font-family: 'Gotham Bold';"
                                    class="text-center darkBlueText">{{::'FLOWER_PREPARATION_1_HEADER' | translate}}
                        </figcaption>
                        <p style="font-family: 'Gotham Light';" class="text-center lightBrownText">
                            {{::'FLOWER_PREPARATION_1_TEXT' | translate}}</p>
                    </figure>
                    <figure  style="margin-left: 8%;"
                            class="removeMargin col-lg-offset-1 col-lg-3 col-md-4 col-sm-offset-1 col-sm-3 col-xs-offset-0 col-xs-12 howWeDoItFigure">
                        <img src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/abone/2-nereyenesiklikta.jpg"
                             alt="{{::'LEAVE_US_IMG_ALT' | translate}}"
                             class="center-block howImg-2">
                        <figcaption style="padding: 1em 0;font-family: 'Gotham Bold';"
                                    class="text-center darkBlueText">NEREYE? NE SIKLIKTA?
                        </figcaption>
                        <p style="font-family: 'Gotham Light';" class="text-center lightBrownText">
                            {{::'FLOWER_PREPARATION_2_TEXT' | translate}}</p>
                    </figure>
                    <figure style="margin-left: 7%;"
                            class="removeMargin col-lg-offset-1 col-lg-3 col-md-4 col-sm-offset-1 col-sm-3 col-xs-offset-0 col-xs-12 howWeDoItFigure">
                        <img src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/abone/3-gerisinibizebirak.jpg"
                             alt="{{::'HAPPINESS_IMG_ALT' | translate}}"
                             class="center-block howImg-3">
                        <figcaption style="padding: 1em 0;font-family: 'Gotham Bold';"
                                    class="text-center darkBlueText">GERİSİNİ BİZE BIRAK
                        </figcaption>
                        <p style="font-family: 'Gotham Light';" class="text-center lightBrownText">
                            {{::'FLOWER_PREPARATION_3_TEXT' | translate}}</p>
                    </figure>
                </article>
            </header>
        </section>
    </article>

    <article class="bloomBlog">
        <section style="padding-right: 83px;padding-left: 105px;" class="paddingZero container-fluid fixed-width">
            <header style="border: 2px solid #8d7758;margin: 0 .4em 1.45em;" class="row">
                <aside class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img style="padding-bottom: 1px;width: 100%;"
                         src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/abone/istediginsiklikta.jpg"
                         alt="{{::'DELIVERY_MAP_IMG_ALT'| translate}}">
                </aside>
                <article style="padding-top: 50px;" class="topPaddingZero col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <section
                            class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-offset-1 col-sm-9 col-xs-offset-0 col-xs-12">
                        <br>
                        <br>
                        <h4 style="width: 79%;color: #3b454d;font-family: 'Gotham Black';margin-bottom: 20px;letter-spacing: 1px;font-size: 20px;line-height: 30px;"
                            class=" text-left lightBrownText">İSTEDİĞİN SIKLIKTA TAZE BİR DOZ KAPINDA</h4>

                        <p style="width: 75%;font-size: 14px;font-family: 'Gotham Light';line-height: 25px;margin-bottom: 2.25em;color: #8D7758;font-weight: 800;">
                            İstediğin sıklık lorem lorem lorem ıstedıgın sıklık lorem lorem lorem lorem sıklık!<a
                                target="_blank" href="http://studio.bloomandfresh.com/"></a>
                        </p>
                        <a style="width: 220px;" class="btn-bloomNfresh btn btn-default text-uppercase" href="/"><b>Siparişe
                            Başlayayım</b></a>
                    </section>
                </article>
            </header>
        </section>
    </article>

    <article class="mobileNone bloomBlog">
        <section class="container-fluid fixed-width">
            <header class="row">
                <article style="padding-top: 51px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 style="position: absolute;top: 31%;left: 8%;width: 20%;color: #3b454d;font-family: 'Gotham Black';margin-bottom: 20px;letter-spacing: 1px;font-size: 20px;line-height: 30px;"
                        class=" text-left lightBrownText">İSTEDİĞİN SIKLIKTA TAZE BİR DOZ KAPINDA</h4>

                    <p style="position: absolute;top: 49%;left: 8%;width: 18%;font-size: 14px;font-family: 'Gotham Light';line-height: 25px;margin-bottom: 2.25em;color: #8D7758;font-weight: 800;">
                        İstediğin sıklık lorem lorem lorem ıstedıgın sıklık lorem lorem lorem lorem sıklık!<a
                            target="_blank" href="http://studio.bloomandfresh.com/"></a>
                    </p>
                    <a style="width: 17%;position: absolute;top: 68%;left: 8%;"
                       class="btn-bloomNfresh btn btn-default text-uppercase" href="/"><b>Siparişe
                        Başlayayım</b></a>
                    <img style="width: 100%;"
                         src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/abone/stilsahibicicekler.jpg"
                         alt="{{::'DELIVERY_MAP_IMG_ALT'| translate}}">
                </article>
            </header>
        </section>
    </article>

    <article style="padding-top: 140px;padding-bottom: 60px;" class="faqBody row text-center">
        <section class="tabbable tabs-left col-lg-11  col-md-12 col-lg-offset-1 col-sm-12 col-xs-12">
            <ul class="nav nav-tabs col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <h4 style="width: 80%;color: #3b454d;font-family: 'Gotham Black';margin-bottom: 20px;letter-spacing: 1px;font-size: 26px;line-height: 30px;"
                    class=" text-left lightBrownText">Soru Kalmasın</h4>

                <p class="mobileNone" style="text-align: left;width: 80%;font-size: 14px;font-family: 'Gotham Light';line-height: 25px;margin-bottom: 2.25em;color: #8D7758;font-weight: 800;">
                    İstediğin sıklık lorem lorem lorem ıstedıgın sıklık lorem<a
                        target="_blank" href="http://studio.bloomandfresh.com/"></a>
                </p>
                <img class="mobileNone" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/abone/kafalardasorukalmasin2.jpg"
                   style="float: left;"  alt="{{::'DELIVERY_MAP_IMG_ALT'| translate}}">

		        <span  style="margin: 0px;float: left;text-align: left;" class="footerLink mobileNone darkBlueText">
			        {{::'FOR_MORE_INFORMATION_CONTACT_US' | translate}} <a style="text-align: center;"
                class="contactUsButton ion-chevron-right lightBrownText" role="button"
                ui-sref="contactUs({baseUrl : '{{'CONTACT_US_URL' | translate}}'})"></a>
		            </span>
            </ul>
            <aside style="border-left: none;" class="tab-content col-lg-8 col-md-9 col-sm-12 col-xs-12">
                <section class="tab-pane active" id="{{::'ORDERS_NAME' | translate}}">
                    <accordion close-others="true">
                        <accordion-group class="tab-pane active" is-open="status.open4">
                            <accordion-heading>cicekler nerede nerede nerede nerede ne zaman gelır ve eve ve e ve e e e e <i class="hasSecondLine pull-left"
                                                                        ng-class="{'ion-chevron-down': status.open4, 'ion-chevron-right': !status.open4}"></i>
                            </accordion-heading>
                            <p class="accordion-text darkBlueText text-left" translate="ORDER_ANSWER_1"></p>
                        </accordion-group>
                        <accordion-group class="tab-pane" is-open="status.open">
                            <accordion-heading>
                                {{::'ORDER_QUESTION_2' | translate}} <i class="pull-left hasSecondLine"
                                                                        ng-class="{'ion-chevron-down': status.open, 'ion-chevron-right': !status.open}"></i>
                            </accordion-heading>
                            <p class="accordion-text darkBlueText text-left" translate="ORDER_ANSWER_2"></p>

                        </accordion-group>
                        <accordion-group class="tab-pane" is-open="status.open1">
                            <accordion-heading>
                                {{::'ORDER_QUESTION_3' | translate}} <i class="pull-left"
                                                                        ng-class="{'ion-chevron-down': status.open1, 'ion-chevron-right': !status.open1}"></i>
                            </accordion-heading>
                            <p class="accordion-text darkBlueText text-left" translate="ORDER_ANSWER_3"></p>
                        </accordion-group>
                        <accordion-group class="tab-pane" is-open="status.open2">
                            <accordion-heading>
                                {{::'ORDER_QUESTION_4' | translate}} <i class="pull-left"
                                                                        ng-class="{'ion-chevron-down': status.open2, 'ion-chevron-right': !status.open2}"></i>
                            </accordion-heading>
                            <p class="accordion-text darkBlueText text-left" translate="ORDER_ANSWER_4"></p>
                        </accordion-group>
                        <accordion-group class="tab-pane" is-open="status.open3">
                            <accordion-heading>
                                {{::'ORDER_QUESTION_5' | translate}} <i class="pull-left"
                                                                        ng-class="{'ion-chevron-down': status.open3, 'ion-chevron-right': !status.open3}"></i>
                            </accordion-heading>
                            <p class="accordion-text darkBlueText text-left" translate="ORDER_ANSWER_5"></p>
                        </accordion-group>
                        <accordion-group class="tab-pane" is-open="status.open6">
                            <accordion-heading>
                                {{::'ORDER_QUESTION_6' | translate}} <i class="pull-left"
                                                                        ng-class="{'ion-chevron-down': status.open6, 'ion-chevron-right': !status.open6}"></i>
                            </accordion-heading>
                            <p class="accordion-text darkBlueText text-left" translate="ORDER_ANSWER_6"></p>
                        </accordion-group>
                    </accordion>
                </section>
            </aside>
        </section>
    </article>
</main>
<script>
    function setInvisible(e) {
        $(e).css('background', 'none');
        //var testId = $(e).attr('id');
        //testId = '#r_' + testId;
        //$(testId).hide();
    }
</script>
<bf-footer></bf-footer>
