<navbar-menu></navbar-menu>

<main class="rescuePassword">
	<section class="jumbotron center-block bloomNFresh-jumbotron container-fluid">
		<h3 class="whiteText text-center center-block"> {{::'RESCUE_PASSWORD_HEADER' | translate}} </h3>
		<img src="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/aboutUsImages/aboutUsFlower.png" class="center-block">
	</section>

	<section class="formSection container-fluid">
		<form class="col-lg-12 panel rescuePasswordForm" name="rescuePasswordForm">
			<fieldset class="col-lg-4 center-block">
				<span class="input input--akira">
					<input class="lightBrownText input__field input__field--akira" type="password" ng-model="userPasswordModel.changePassword" id="changePassword" name="changePassword"
						ng-minlength="3" max-length="30" required ng-model-options="{ updateOn: 'change' }"/>
					<label class="input__label input__label--akira text-center" for="changePassword">
						<span class="input__label-content input__label-content--akira">
						<span class="error" ng-show="rescuePasswordForm.changePassword.$touched && (rescuePasswordForm.changePassword.$error.minlength)">{{::'PASSWORD_ERROR' | translate}}</span>
						<span class="error" ng-show="(rescuePasswordForm.changePassword.$touched && rescuePasswordForm.changePassword.$error.required) || (rescuePasswordForm.changePassword.$untouched && isChecked)">{{::'PASSWORD_EMPTY_ERROR' | translate}}</span>
						<span class="lightBrownText not-error" ng-show="rescuePasswordForm.changePassword.$valid|| (rescuePasswordForm.changePassword.$untouched && !isChecked)">{{::'NEW_PASSWORD_TEXT' | translate}}</span></span>
					</label>
				</span>
			</fieldset>
			<fieldset class="col-lg-4 center-block">
				<span class="input input--akira">
					<input class="lightBrownText input__field input__field--akira" type="password" ng-model="userPasswordModel.changePasswordCheck" id="changePasswordCheck"
						name="changePasswordCheck" ng-minlength="3" max-length="30" required ng-model-options="{ updateOn: 'change' }"
						ui-validate=" '$value==userPasswordModel.changePassword' " ui-validate-watch=" 'userPasswordModel.changePassword' "/>
					<label class="input__label input__label--akira text-center" for="changePasswordCheck">
						<span class="input__label-content input__label-content--akira">
						<span class="error" ng-show="rescuePasswordForm.changePasswordCheck.$touched && (rescuePasswordForm.changePasswordCheck.$error.minlength)">{{::'PASSWORD_ERROR' | translate}}</span>
							<span class="error"
							      ng-show="(!rescuePasswordForm.changePasswordCheck.$error.minlength && !rescuePasswordForm.changePasswordCheck.$error.required) && ( rescuePasswordForm.changePasswordCheck.$error.validator )">{{::'PASSWORD_RETRY_NOT_EQUAL_ERROR' | translate}}</span>
						<span class="error"
						      ng-show="(rescuePasswordForm.changePasswordCheck.$touched && rescuePasswordForm.changePasswordCheck.$error.required) || (rescuePasswordForm.changePasswordCheck.$untouched && isChecked)">{{::'PASSWORD_RETRY_EMPTY_ERROR' | translate}}</span>
						<span class="lightBrownText not-error" ng-show="rescuePasswordForm.changePasswordCheck.$valid || (rescuePasswordForm.changePasswordCheck.$untouched && !isChecked)">{{::'NEW_PASSWORD_RETRY_TEXT' | translate}}</span></span>
					</label>
				</span>
			</fieldset>
			<label style="margin-left: auto;margin-right: auto;display: table;" class="error">{{errorMessage}}</label>
			<fieldset class="col-lg-4 center-block">
				<section class="button field">
					<button class="btn-bloomNfresh btn btn-default" ng-click="rescuePassword()" ng-if="!processSuccess"> {{::'SAVE_BUTTON_TEXT' | translate}}</button>
					<button class="btn-success btn btn-default" ng-if="processSuccess">
                        <img style="width: 26px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/checked.svg">
                    </button>
				</section>
			</fieldset>
		</form>
	</section>
</main>

<bf-footer></bf-footer>