<script>
    (function () {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function () {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function () {
                    return this.replace(rtrim, '');
                };
            })();
        }
        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
            // in case the input is already filled..
            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }
            // events:
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });
        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();
</script>

<navbar-menu></navbar-menu>

<main ng-app="studioBloom" class="purchase">
<section class="container-fluid">

<form id="payment" name="paymentForm" class="fixed-width row form-horizontal" method="post" novalidate action="http://188.166.86.116:3000/studioBloomList/completePayment"> <!-- action="https://everybloom.com" -->
    <section class="sectionPayment col-lg-9 col-md-9 col-sm-9 col-xs-12" ng-controller="PaymentCtrl">
        <header class="col-lg-offset-1 col-lg-11 col-md-offset-0 col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-center"><b>Ödeme Bilgileri</b></h2>
        </header>

        <fieldset class="col-lg-offset-1 col-lg-11 col-md-offset-0 col-md-12 col-sm-12 col-xs-12">
            <label class="totalPaymentText col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-0 col-sm-6 col-xs-12 lightBrownText text-right" for="paymentName">{{::'PRICE_HEADER' | translate}}</label>

            <div class="col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-7 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12 totalPaymentInfo">
                <strong class="totalPayment">
                    {{flower.price}} TL
                            <span>
                                + {{::'TAX' | translate}}
                            </span>
                </strong>
            </div>

            <label class="totalPaymentText col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-0 col-sm-6 col-xs-12 lightBrownText text-right" for="paymentName">{{::'TOTAL_PRICE_HEADER' | translate}}</label>

            <div class="col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-7 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12 totalPaymentInfo">
                <strong class="totalPayment">
                    {{flower.newPrice}} TL
                            <span>
                                ({{::'TAX_INCLUDED' | translate}})
                            </span>
                </strong>
            </div>

        </fieldset>

        <fieldset class="paymentInfo col-lg-offset-1 col-lg-11 col-md-offset-0 col-md-12 col-sm-12 col-xs-12">

            <label id="checkIf" ng-hide="!((chosenCampaign.value < flower.price && chosenCampaign.type == 1) || chosenCampaign.type == 2 || !chosenCampaign)" class="col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-0 col-sm-6 col-xs-12 lightBrownText text-right" for="paymentCardNumber">{{::'CREDIT_CARD_HEADER' | translate}}</label>

            <div ng-hide="!((chosenCampaign.value < flower.price && chosenCampaign.type == 1) || chosenCampaign.type == 2 || !chosenCampaign)"  class="paymentCardNumber field col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <input type="tel" class="form-control" ng-model="payment.cardNumber" id="paymentCardNumber" name="card_no" maxlength="19" minlength="16"
                       autocomplete="off" required/>
            </div>

            <label ng-hide="!((chosenCampaign.value < flower.price && chosenCampaign.type == 1) || chosenCampaign.type == 2 || !chosenCampaign)"  class="col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-0 col-sm-6 col-xs-12 lightBrownText text-right" for="paymentCardExpirationDate">{{::'EXPIRE_DATE_HEADER' | translate}}</label>

            <div ng-hide="!((chosenCampaign.value < flower.price && chosenCampaign.type == 1) || chosenCampaign.type == 2 || !chosenCampaign)" class="paymentCardExpirationDay smallField col-lg-2 col-md-3 col-sm-3 col-xs-6">
                <ui-select ng-model="payment.expirationMonth" theme="selectize" class="hidden-sm hidden-xs">
                    <ui-select-match>{{payment.expirationMonth}}</ui-select-match>
                    <ui-select-choices repeat="expirationMonth in expirationMonths | filter: $select.search">
                        <span ng-bind-html="expirationMonth | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>

                <select class="mobilDropdownSelect hidden-lg hidden-md col-sm-12 col-xs-12" ng-model="payment.expirationMonth" ng-options="expirationMonth for expirationMonth in expirationMonths track by expirationMonth" required>
                    <option value=""></option>
                </select>
            </div>
            <div ng-hide="!((chosenCampaign.value < flower.price && chosenCampaign.type == 1) || chosenCampaign.type == 2 || !chosenCampaign)"  class="paymentCardExpirationYear smallField col-lg-2 col-md-3 col-sm-3 col-xs-6">
                <ui-select ng-model="payment.expirationYear" theme="selectize" class="hidden-sm hidden-xs">
                    <ui-select-match>{{payment.expirationYear}}</ui-select-match>
                    <ui-select-choices repeat="expirationYear in expirationYears | filter: $select.search">
                        <span ng-bind-html="expirationYear | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>

                <select class="mobilDropdownSelect hidden-lg hidden-md col-sm-12 col-xs-12" ng-model="payment.expirationYear" ng-options="expirationYear for expirationYear in expirationYears" required>
                    <option value=""></option>
                </select>
            </div>
            <label ng-hide="!((chosenCampaign.value < flower.price && chosenCampaign.type == 1) || chosenCampaign.type == 2 || !chosenCampaign)"  class="col-lg-offset-3 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-0 col-sm-6 col-xs-12 lightBrownText text-right" for="paymentCCVNumber">CVC</label>

            <div style="margin-right: 10px;padding-right: 0px;" ng-hide="!((chosenCampaign.value < flower.price && chosenCampaign.type == 1) || chosenCampaign.type == 2 || !chosenCampaign)"  class="paymentCVCNumber smallField col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <input class="form-control" ng-model="payment.cvcNumber" id="paymentCCVNumber" type="tel" name="card_cvv" ng-minlength="3" required onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                       payments-validate="cvc" payments-format="cvc" ng-maxlength="3" maxlength="3" autocomplete="off"/>
            </div>

            <a ng-hide="!((chosenCampaign.value < flower.price && chosenCampaign.type == 1) || chosenCampaign.type == 2 || !chosenCampaign)"  style="width: 20px;padding: 0px;margin-top: 13px;" type="button" class="cardSecurity btn btn-default lightBrownText col-lg-2 col-md-3 col-sm-3" tooltip-placement="right" tooltip-html-unsafe="{{cvcInfo}}">
                <img class="hidden-xs " style="width: 9px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/question_mark.svg">
            </a>

            <section ng-hide="!((chosenCampaign.value < flower.price && chosenCampaign.type == 1) || chosenCampaign.type == 2 || !chosenCampaign)" style="padding-left: 13%;padding-top: 20px;float: left" id="checkBoxDiv" class="checkbox icheckField lightBrownText col-lg-offset-1 col-lg-11 col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-10 text-center">
                <label id="3Dcheck" style="float: left" class="not-error">
                    <input type="checkbox" id="3dSecureCheck" class="contactCheckbox"> 3D Secure ile ödemek istiyorum.
                    <a style="width: 20px;color: #8D7758;" type="button" tooltip-placement="right" tooltip-html-unsafe="3D Secure, internet üzerinden kredi kartı ve banka kartıyla yapılan alışveriş işlemlerinin güvenliğinin artırılması için Visa ve MasterCard tarafından geliştirilmiş bir sistemdir. 3D secure ile ödeme yapabilmek için kredi kartınızın 3D secure işlemlere açık olması gerekmektedir. Bankamatik kartı ile sadece 3D secure işlemler yapılabilir.">
                        <img style="width: 7px;vertical-align: baseline;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/question_mark.svg">
                    </a>
                </label>
            </section>

            <section style="padding-left: 13%;" class="checkbox icheckField contracts lightBrownText col-lg-offset-1 col-lg-11 col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12 text-center">
                <label style="float: left;text-align: left;" class="not-error">
                    <input type="checkbox" class="contactCheckbox">
                    <a ng-click="openModel('preinformForm')">{{::'PREINFORMING_LINK' | translate}}</a> {{::'CONJUNCTION_LINKS' | translate}}
                    <a ng-click="openModel('longDistancePurchaseContract')">{{::'LONG_DISTINCE_PURCHASE_LINK' | translate}}</a> {{::'LINKS_END' | translate}}
                </label>
            </section>

            <label class="contractsError text-center col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12 error text-left">{{serverError}}</label>

            <section class="buttonSection col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <button id="submitButton"  type="submit" onclick="return purchaseCheckStudioBloom()"
                        class="purchaseProgressButton purchaseCompleteButton btn btn-default center-block col-lg-5 col-md-6 col-sm-12 col-xs-12"> <b class="text-uppercase">{{::'PAYMENT_BUTTON_TEXT' | translate}}</b></button>
            </section>

        </fieldset>

        <fieldset class="creditCardLogos col-lg-offset-1 col-lg-11 col-md-offset-0 col-md-12 col-sm-12 col-xs-12">
            <p class="infoText text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                *{{::'INVOICE_INFO_TEXT' | translate}}
            </p>

            <div class="cards col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="center-block flexContainer cardLogos">
                    <li class="flexableItem"><span class="logo mastercard"></span></li>
                    <li class="flexableItem visaContainer"><span class="logo visa"></span></li>
                    <li class="flexableItem"><span class="logo garantiPost"></span></li>
                </ul>
            </div>
        </fieldset>

        <input id="3Dcheckbox" type="hidden" value="0"/>
        <input name="card_month" type="hidden" value="{{payment.expirationMonth}}"/>
        <input name="card_year" type="hidden" value="{{payment.expirationYear}}"/>
        <input name="id" type="hidden" value="{{flower.id}}">
        <input name="price" type="hidden" value="{{flower.price}}">
        <input name="newPrice" type="hidden" value="{{flower.newPrice}}">
    </section>
    <studio-bloom-info flower="flower" campaign="chosenCampaign" receiver="receiver" note="note" section="section"></studio-bloom-info>
</form>

</section>
</main>

<bf-footer class="hidden-xs"></bf-footer>
