<navbar-menu></navbar-menu>
<main class="contactUs" ng-app="companyCustomer">
    <header style="background: url('https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/img_1_copy.jpg');background-size: cover;    height: 400px;
    background-position-y: center; background-position-x: center;" class="pageHeader jumbotron text-center">
        <small class="pageInfo center-block lightBrownText"></small>
    </header>
    <article class="howWeDoItArticles container-fluid">
        <section style="border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div style="padding-top: 0px;margin-bottom: 32px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase text-left">
                    8 MART DÜNYA KADINLAR GÜNÜ KURUMSAL ÜRÜNLERİ
                </h4>
                <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
                    Bloom and Fresh ekibi olarak 8 Mart Dünya Kadınlar günü için yalnızca kurumlara özel bazı ürünler çalıştık.
                    <br/>
                    Aşağıda bazı örneklerini gördüğünüz ürünler ile ilgili tüm sorularınız için bize hello@bloomandfresh.com veya 0212 212 02 82 ile ulaşabilirsiniz.
                    <br/>
                    Tüm ürünlerimizi bir arada görmek isterseniz de <a href="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/BNF_8MartKad%C4%B1nlarGunu_Katalog_2020_v4.pdf" download="newfilename">mini kataloğumuza ulaşmak için tıklayınız.</a>
                </p>
                <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>
            --></div>
        </section>
        <section style="border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
                <img style="width: 100%;" src="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/img_2.jpg">
            </div>
            <div style="padding-top: 116px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
                <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase text-left">
                    KUPALAR VE ATIŞTIRMALIKLAR</h4>
                <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
                    Emaye kupaların stilini ve desature renklerini porselen bir kupada, ona en güzel şekilde eşlik edecek renk yelpazesindeki çiçek temalı kurabiyeler ve lezzetli atıştırmalıklarla birleştirdik.
                </p>
                <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>
            --></div>
        </section>
        <section style="border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div style="float:right" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center col-xs-12 text-center">
                <img style="width: 100%;" src="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/img_3.jpg">
            </div>
            <div style="padding-top: 50px;float:left" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center text-center">
                <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase text-left">
                    UZUN KUTUDA ÇİÇEKLER VE LEZZETLER</h4>
                <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
                    Sabah ofisine geldiğinde masanda taptaze güller yanında lezzetli mi
                    lezzetli atıştırmalıklarla hazırlanmış bir hediye kutusu bulup, hem o şahane çiçeklerle güne başlayıp, hem de gün sonunda enerjini lezzetli atıştırmalıklarla yükseltmekten daha iyi ne olabilir ki?
                    Bloom and Fresh'in dikdörtgen kutularında free spirit ve memory lane
                    güller, kolonya ve lezzetli atıştırmalıkları Bloom and Fresh’in özel dikdörtgen hediye kutularında hazırladık.
                                    </p>
            </div>
        </section>
        <section style="border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center text-center">
                <img style="width: 100%;" src="https://bloomandfresh.s3.eu-central-1.amazonaws.com/bloomandfresh.com/kurumsal/img_4.jpg">
            </div>
            <div style="padding-top: 116px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center text-center">
                <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase text-left">
                    KARE KUTUDA ÇİÇEKLER
                </h4>
                <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
                    Free spirit ve Memory Lane güller, mis gibi bir kolonya ve lezzetli atıştırmalıklar… Ofiste günün farklı saatleri için ihtiyacın olan herşey Bloom and Fresh'in kadınlar günü için hazırladığı kare hediye kutularında.
                                    </p>
            </div>
        </section>
    </article>
    <footer class="moreQuestion container-fluid"> <span class="footerLink darkBlueText pull-right ng-binding"> Bunlar dışında soruların varsa bizimle iletişime geçebilirsin <a class="contactUsButton ion-chevron-right lightBrownText" role="button" href="/kurumsal-siparisler"></a> </span> </footer>
</main>

<bf-footer></bf-footer>
