<navbar-menu></navbar-menu>
<main class="contactUs" ng-app="companyCustomer">
    <div style="width: 100%;height: 60px;border-bottom: 1px solid #e7e7e7;background-color: white;">
        <figure style="padding-top: 18px;position: inherit;" class="">
            <a class="breadPadding" href="/" style="padding-left: 30px;font-family: 'Gotham Light';font-size: 18px;color: rgb(129, 106, 74);" class="ng-binding ng-scope">Anasayfa</a>
            <img class="breadPadding" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/arrow_breadCrum.jpg" style="padding-left: 15px;padding-bottom: 4px;padding-right: 15px;">
            <a class="breadPadding" href="/hakkimizda" style="font-weight: 700;font-family: 'Gotham Light';font-size: 18px;color: #3b454d;" class="ng-binding ng-scope">Hakkımızda</a>
        </figure>
    </div>
    <header style="background: url('https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/contactImages/kurumsal_musteri.jpg');background-size: cover;" class="pageHeader jumbotron text-center">
        <h1 class="pageTitle">
            Yeni Gönderim Bölgeleri
        </h1>
        <small class="pageInfo center-block lightBrownText"></small>

        <img class="flowersIcon" src="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/icons/flowers_on_the_way.png" alt="flowers icon">
    </header>
    <article class="howWeDoItArticles container-fluid">
        <section style="border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
                <img style="" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/8mart/2e86db05-56a5-4a62-be54-f9d50da31a35.jpg">
            </div>
            <div style="padding-top: 116px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
                <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase text-left">
                    Yeni Gönderim Bölgeleri</h4>
                <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
                    Bloom and Fresh ekibi olarak 8 Mart Dünya Kadınlar günü için yalnızca kurumlara özel bazı düzenlemeler çalıştık.
                    <br>
                </p>
                <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>
            --></div>
        </section>
    </article>
    <footer class="moreQuestion container-fluid"> <span class="footerLink darkBlueText pull-right ng-binding"> Çiçekleri Görmek İçin <a class="contactUsButton ion-chevron-right lightBrownText" role="button" href="/bloomandfresh-istanbul-online-cicekleri"></a> </span> </footer>
</main>

<bf-footer></bf-footer>
