<navbar-menu></navbar-menu>
<main>
<div style="width: 100%;height: 60px;border-bottom: 1px solid #e7e7e7;background-color: white;">
    <figure style="padding-top: 18px;position: inherit;" class="">
        <a class="breadPadding" href="/" style="padding-left: 30px;font-family: 'Gotham Light';font-size: 18px;color: rgb(129, 106, 74);" class="ng-binding ng-scope">Anasayfa</a>
        <img class="breadPadding" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/arrow_breadCrum.jpg" style="padding-left: 15px;padding-bottom: 4px;padding-right: 15px;">
        <a class="breadPadding" href="/vodafone-ozel" style="font-weight: 700;font-family: 'Gotham Light';font-size: 18px;color: #3b454d;" class="ng-binding ng-scope">Vodafone RED</a>
    </figure>
</div>
<header style="background: url('https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/vodafone/vdf_red_banner.png');background-size: cover;height: 500px" class="pageHeader jumbotron text-center">

</header>
<section style="padding-bottom: 50px;padding-top: 50px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            Avantaj Cepte İle Sana Özel İndirim Kodunu Al!
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Sana Özel İndirim Kodunu ister BLOOM yazıp 6666’ya SMS göndererek ya da Avantaj Cepte uygulaması üzerinden al!
            <br>
        </p>
        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <img style="width: 100%;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/vodafone/vdf_red_section1.png">
    </div>
</section>
<section style="padding-bottom: 50px;padding-top: 50px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <img style="width: 100%;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/vodafone/vdf_red_section2.jpg">
    </div>
    <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            Bloom and Fresh’e Üye ol!
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Bloomandfresh.com’a gelip e-postan ve belirleyeceğin şifren ile yaklaşık 9 saniye sürecek üyelik işlemini tamamla!
            <br>
        </p>
        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
</section>
<section style="padding-bottom: 50px;padding-top: 50px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            Profilinden Kuponunu Ekle!
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Açılacak sana özel profil sayfandan “İndirim Kupon Ekle” butonu ile açılacak pencereye sana özel indirim kodunu gir! Özel indirimin profilinde görüntülenecek!
            <br>
        </p>
        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <img style="width: 100%;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/vodafone/vdf_red_section3.png">
    </div>
</section>
<section style="margin-bottom: 50px;padding-bottom: 50px;padding-top: 50px;border: none;background-color: white;height: 100%;border-bottom: 2px solid #816a4a;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <img style="width: 100%;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/vodafone/vdf_red_section4.png">
    </div>
    <div style="padding-top: 77px;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 style="padding-left: 0px;text-align: center;font-size: 30px;line-height: 30px;" class="infoSectionHeader darkBlueText col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
            Ya Da Ödeme Sayfasında Kuponunu Ekle!
        </h4>
        <p style="font-family: 'Gotham Light';font-size: 14px;line-height: 25px;">
            Profilinden eklemek yerine sana özel indirimini siparişini tamamlarken Ödeme Sayfası’nın üstünde bulunan “Kupon Ekle” butonu ile açılacak pencere ile de tanımlayabilirsin! Kuponunu tanımladıktan sonra kupon seçiminle birlikte Ödeme Tutarı ve tüm bilgiler yeniden düzenlenir!
            <br>
        </p>
        <!--<a style="float: right !important;" class="text-uppercase text-right lightBrownText pull-right"  href="/kurumsal-siparisler"><b class="ng-binding">İletişime geçmek istiyorum</b><img style="    padding-left: 10px;padding-top: 0px;" src="https://s3.eu-central-1.amazonaws.com/bloomandfresh/bloomandfresh.com/images/landingOk.png"> </a>-->
    </div>
    <div style="padding-top: 50px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a style="width: 208px;" class="btn-bloomNfresh btn btn-default text-uppercase" href="/"><b>Siparişe Başlayayım</b></a>
    </div>
</section>
</main>

<bf-footer></bf-footer>
