<div style="background-color: black;" class="modal-header">
    <h3 style="color: #000000" class="modal-title redText"><img style="margin-left: 66px;width: 134px;" src="https://d1z5skrvc8vebc.cloudfront.net/bloomandfresh.com/images/logos/bloomandfresh_logo_brown.svg"></h3>
</div>
<div style="background-color: black;" class="modal-body">
    <b style="color: #816a4a;">Bu tasarım Bvlgari müşterileri için hazırlanmış özel bir tasarımdır ve yalnızca Sevil Parfümeri'lerden Bvlgari parfüm alışverişi neticesinde elde edilen özel kod ile sipariş verilebilmektedir. <br>Özel kodunuzu kullanabilmek için lütfen kayıt olun veya üye girişi yapın.</b>
</div>
<div style="background-color: black;" class="modal-footer">
    <button style="background-color: #816a4a;margin-left: 10px;border-color: #816a4a;" class="btn btn-primary col-lg-6" onclick="$('.signIn').click();" ng-click="sendModel()">Giriş Yap</button>
    <button style="background-color: red;border-color: red;" class="btn btn-primary col-lg-5" ng-click="closeModel()">Vazgeç</button>
</div>