<section class="popUp popUpLanding hidden-sm hidden-xs" ng-class="{open: popUpOpen}">
    <!--<section class="popUp popUpLanding hidden-sm hidden-xs" ng-class="{open: popUpOpen}">-->
    <form class="container-fluid">
        <button type="button" class="btn btn-danger" ng-click="popUpOpen=false">X</button>
        <fieldset class="panel text-center">
            <button class="btn text-uppercase darkBlueText" ng-click="setSignSection('kayit')"><b>TAMAM</b></button>
        </fieldset>
    </form>
</section>