<div class="modal-header">
	<h4 class="modal-title">MESAFELİ SATIŞ SÖZLEŞMESİ</h4>
</div>
<div class="modal-body">
	<p>
		<strong class="small-header">MADDE 1 - TARAFLAR</strong>
	</p>
	<br/>

	<p>
		<strong class="small-header">1.1 SATICI</strong>
	</p>

	<p class="plain-text">
		Ticari Ünvan:IF Girişim ve Teknoloji Anonim Şirketi (Bundan böyle “SATICI” olarak anılacaktır)
	</p>

	<p class="plain-text">
		Adres:Boyacıköy Mah. Boyacıçeşme Sok. No:12 Emirgan Sarıyer-İstanbul
	</p>

	<p class="plain-text">
		Telefon:(212) 212 0 282
	</p>

	<p class="plain-text">
		Faks:(212) 212 0 292
	</p>

	<p class="plain-text">
		E-posta Adresi:siparis@bloomandfresh.com
	</p>

	<p class="plain-text">
		Mersis Numarası:0465041271300014
	</p>

	<br/>

	<p class="small-header">
		<strong>1.2 ALICI</strong>
	</p>

	<p class="plain-text">
		Adı Soyadı: {{sender.name}} {{sender.surname}}
	</p>

	<p class="plain-text">
		Adresi: {{flower.sendingDistrict.small_city}} {{flower.sendingDistrict.city}}
	</p>

	<p class="plain-text">
		Telefon:{{sender.mobile}}
	</p>

	<p class="plain-text">
		E-posta Adresi:{{sender.email}}
	</p>
	<br/>

	<p class="small-header">
		<strong>MADDE 2 - KONU</strong>
	</p>

	<p class="plain-text">
		İşbu Sözleşmenin konusu, ALICI'nın SATICI'ya ait www.bloomandfresh.com İnternet sitesinden elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve satış fiyatı belirtilen ürünün satışı ve
		teslimi ile ilgili olarak 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeler Yönetmeliği hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır.
	</p>
	<br/>

	<p class="small-header">
		<strong>MADDE 3 - SÖZLEŞME KONUSU ÜRÜN</strong>
	</p>

	<p class="medium-text">
		<strong>
			Sözleşme Tarihi: {{date}}
		</strong>
	</p>

	<p class="medium-text">
		<strong>
			Ürünün teslim tarihi/saat aralığı: {{receiveDate}} / {{receiveTime}}
		</strong>
	</p>

	<p class="medium-text">
		<strong>
			Mal/Ürün/Hizmet Türü: Çiçek ve Hediye Gönderimi
		</strong>
	</p>

	<p class="medium-text">
		<strong>
			Sipariş Numarası: {{saleNumber}}
		</strong>
	</p>

	<p class="medium-text">
		<strong>
			Ürün Adı: {{flower.name}}
		</strong>
	</p>

	<p class="medium-text">
		<strong>
			Miktarı: 1
		</strong>
	</p>

	<p class="medium-text">
		<strong>
			Satış Fiyatı (Vergiler Dahil): {{flowerPrice | number:2}} TL
		</strong>
	</p>

	<p class="medium-text">
		<strong>
			Sipariş bedelinin ödenme şekli: Kredi Kartı veya Banka Kartı
		</strong>
	</p>

	<p class="medium-text">
		<strong>
			Teslimat Şekli: Servis/Anlaşmalı Kargo
		</strong>
	</p>

	<p class="medium-text">
		<strong>
			Teslim masraflarının tutarı :0,00 TL
		</strong>
	</p>
	<br/>

	<p>
		<strong class="big-header">
			MADDE 4 - CAYMA HAKKI
		</strong>
	</p>

	<p class="big-text">
		<strong>
			Alıcı mal satışına ilişkin mesafeli sözleşmelerde, malı teslim aldığı tarihten itibaren on dört gün içerisinde hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe
			göstermeksizin malı reddederek sözleşmeden cayma hakkına sahiptir. Hizmet sunumuna ilişkin mesafeli sözleşmelerde ise, bu süre sözleşmenin imzalandığı tarihte başlar. Sözleşmede, hizmetin
			ifasının on dört günlük süre dolmadan yapılması kararlaştırılmışsa, tüketici ifanın başlayacağı tarihe kadar cayma hakkını kullanabilir. Cayma hakkının kullanımından kaynaklanan masraflar
			satıcıya aittir.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			Cayma hakkının kullanılması için Alıcı tarafından on dört günlük süre içinde Satıcıya yukarıda bildirilen faks, telefon veya elektronik posta ile bildirimde bulunulması şarttır. Cayma
			Hakkı kapsamında yer alan iade usulleri Mesafeli Satış Sözleşmesinde yer almaktadır. Bu hakkın kullanılması halinde, 3. kişiye veya Alıcıya teslim edilen mal/hizmete ilişkin fatura aslinin
			iadesi zorunludur. Cayma hakkına ilişkin ihbarın ulaşmasını takip eden en geç 14 (on dört) gün içinde mal/hizmet bedeli ve teslimat masrafları Alıcıya iade edilir ve 10 (on) günlük süre
			içinde mal/hizmeti alıcı iade etmekle mükelleftir. Fatura asli gönderilmezse Alıcıya KDV ve varsa diğer yasal yükümlülükler iade edilemez. Cayma hakkı ile iade edilen mal/hizmetin teslimat
			bedeli Alıcı tarafından karşılanır.
		</strong>
	</p>
	<br/>

	<p>
		<strong class="big-header">
			MADDE 5 - CAYMA HAKKININ KULLANILAMAYACAĞI MAL/HİZMETLER
		</strong>
	</p>

	<p class="big-text">
		<strong>
			Niteliği itibarıyla iade edilemeyecek mal/hizmetler, hızla bozulan ve son kullanma tarihi geçen mal/hizmetler, tek kullanımlık mal/hizmetler, kopyalanabilir her türlü yazılım ve
			programlardır.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			b) Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin sözleşmeler.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			c) Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			ç) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmeler.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			e) Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine ilişkin
			sözleşmeler.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			f) Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine ilişkin sözleşmeler.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın
			değerlendirilmesine ilişkin sözleşmeler.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			ğ) Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallara ilişkin sözleşmeler.
		</strong>
	</p>

	<p class="big-text">
		<strong>
			h) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin sözleşmeler.
		</strong>
	</p>
	<br/>

	<p>
		<strong class="small-header">
			MADDE 6 - GENEL HÜKÜMLER
		</strong>
	</p>

	<p class="plain-text">
		<strong>6.1</strong> ALICI, Madde 3'te belirtilen Sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin tüm ön bilgileri okuyup bilgi sahibi olduğunu ve
		elektronik ortamda gerekli teyidi verdiğini beyan eder.
	</p>

	<p class="plain-text">
		<strong>6.2</strong> Sözleşme konusu ürün, yasal 30 (otuz) günlük süreyi aşmamak koşulu ile her bir ürün için ALICI'nın yerleşim yerinin uzaklığına bağlı olarak ön bilgiler içinde açıklanan
		süre içinde ALICI veya gösterdiği adresteki kişi/kuruluşa teslim edilir. Satıcı bu yükümlülüğüne aykırı davranır ise tüketici işbu Sözleşme’yi feshedebilir. Sözleşme’nin feshi durumunda,
		satıcı veya sağlayıcı, varsa teslimat masrafları da dahil olmak üzere tahsil edilen tüm ödemeleri fesih bildiriminin kendisine ulaştığı tarihten itibaren 14 (ondört) gün içinde tüketiciye
		ilgili mevzuat uyarınca belirlenen kanuni faiziyle birlikte geri ödemek ve varsa tüketiciyi borç altına sokan tüm kıymetli evrak ve benzeri belgeleri iade etmek zorundadır.
	</p>

	<p class="plain-text">
		<strong>6.3</strong> Sözleşme konusu ürün, ALICI'dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden SATICI sorumlu tutulamaz.
	</p>

	<p class="plain-text">
		<strong>6.4</strong> SATICI, Sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere uygun olarak teslim edilmesinden sorumludur. Haklı bir sebebe dayanmak şartıyla SATICI,
		Sözleşme’den doğan ifa yükümlülüğünün süresi dolmadan, ALICI’ya eşit kalite ve fiyatta mal veya hizmet tedarik edebilir.
	</p>

	<p class="plain-text">
		<strong>6.5</strong> Sözleşme konusu ürünün teslimatı için işbu Sözleşme’nin elektronik ortamda teyit edilmesi ve Sözleşme konusu siparişin bedelinin ödenmesi şarttır. Herhangi bir nedenle ürün
		bedeli ödenmez veya banka kayıtlarında iptal edilir ise, SATICI ürün teslimi yükümlülüğünden kurtulmuş kabul edilir.
	</p>

	<p class="plain-text">
		<strong>6.6</strong> SATICI sipariş konusu mal ya da hizmet ediminin yerine getirilmesinin imkansızlaştığı hallerde durumu öğrendiği tarihten itiberen 3 gün içerisinde ALICI'ya durumu yazılı
		olarak veya kalıcı veri saklayıcısı ile bildirmekle yükümlüdür. Bu durumda SATICI teslimat masrafları da dahil olmak üzere tahsil edilen tüm ödemeleri bildirim tarihinden itibaren en geç 14
		(ondört) gün içerisinde ALICI’ya iade eder.
	</p>

	<p class="plain-text">
		<strong>6.7</strong> SATICI, malın ALICI ya da ALICI’nın taşıyıcı dışında belirleyeceği üçüncü bir kişiye teslimine kadar oluşan kayıp ve hasarlardan sorumludur.
	</p>

	<p class="plain-text">
		<strong>6.8</strong> ALICI’nın SATICI’nın belirlediği taşıyıcı dışında başka bir taşıyıcı ile malın gönderilmesini talep etmesi durumunda, malın ilgili taşıyıcıya tesliminden itibaren
		oluşabilecek kayıp ya da hasardan SATICI sorumlu değildir.
	</p>

	<p class="plain-text">
		<strong>6.9</strong> SATICI tarafından sunulan hizmet perakende satış kapsamında tüketiciye yöneliktir; SATICI, ALICI’nın yeniden satış amacı bulunduğundan şüphe etmesi halinde işbu Sözleşme
		kurulmuş olsa dahi siparişi iptal etme ve ürünleri teslim etmeme hakkını saklı tutar.
	</p>

	<p class="plain-text">
		<strong>6.10</strong> SATICI mücbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumlar nedeni ile Sözleşme konusu ürünü süresi içinde teslim edemez
		ise, durumu ALICI'ya bildirmekle yükümlüdür. Bu takdirde ALICI siparişin iptal edilmesini, Sözleşme konusu ürünün varsa emsali ile değiştirilmesini, ve/veya teslimat süresinin engelleyici
		durumun ortadan kalkmasına kadar ertelenmesi haklarından birini kullanabilir. ALICI'nın siparişi iptal etmesi halinde ödediği tutar 14 gün içinde kendisine nakden ve defaten ödenir.
	</p>
	<br/>

	<p>
		<strong class="small-header">
			MADDE 7 - YETKİLİ MAHKEME
		</strong>
	</p>

	<p class="plain-text">
		İşbu Sözleşmenin uygulanmasında, tüketici; şikâyet ve itirazları konusunda başvurularını, T.C. Gümrük ve Ticaret Bakanlığı tarafından her yıl Aralık ayında belirlenen parasal sınırlar
		dâhilinde tüketicinin mal veya hizmeti satın aldığı veya ikametgâhının bulunduğu yerdeki tüketici sorunları hakem heyetine veya tüketici mahkemesine yapabilir.
	</p>

	<p>
		<strong class="small-header">
			İstisna
		</strong>
	</p>

	<p class="plain-text">
		İşbu mesafeli satış sözleşmesinde yer alan ve 6502 sayılı Tüketicinin Korunması Hakkında Kanundan doğarak tüketicilere hukuki koruma sağlayan madde hükümleri sadece alıcının Tüketici olduğu
		hallerde geçerli olarak hüküm ifade edecek olup; alıcının 6502 sayılı kanunda yer alan Tüketici tanımına uymadığı hallerde ilgili maddeler taraflar arasında hüküm ifade etmeyecektir.
	</p>

	<p>
		<strong class="small-header">
			SATICI
		</strong>
	</p>

	<p class="plain-text">
		IF Girişim ve Teknoloji Anonim Şirketi
	</p>

	<p>
		<strong class="small-header">
			ALICI
		</strong>
	</p>

	<p class="plain-text">
		{{sender.name}} {{sender.surname}}
	</p>

	<p>
		<strong class="small-header">
			TARİH
		</strong>
	</p>

	<p class="plain-text">
		{{date}}
	</p>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="$close('close')">Okudum</button>
</div>