<div class="modal-header">
	<h3 class="modal-title">ÜYELİK SÖZLEŞMESİ</h3>
</div>
<div class="modal-body">
	<p>
		<strong class="medium-header">1. Taraflar</strong>
	</p>

	<p class="plain-text">
		<strong>a) </strong>Bloomandfresh.com internet sitesinin faaliyetlerini yürüten Boyacıköy Mah. Boyacıçeşme Sok. No:12 Emirgan Sarıyer-İstanbul adresinde mukim IF Girişim ve Teknoloji A.Ş.
		(Bundan böyle “IF” olarak anılacaktır).
	</p>

	<p class="plain-text">
		<strong>b) </strong>Bloomandfresh.com internet sitesine üye olan internet kullanıcısı ("Üye")
	</p>

	<p>
		<strong class="medium-header">2. Sözleşmenin Konusu</strong>
	</p>

	<p class="plain-text">
		İşbu Sözleşme’nin konusu IF’in sahip olduğu internet sitesi Bloomandfresh.com‘dan üyenin faydalanma şartlarının belirlenmesidir.
	</p>

	<p>
		<strong class="medium-header">3. Tarafların Hak ve Yükümlülükleri</strong>
	</p>

	<p class="plain-text">
		<strong>3.1.</strong>Üye, Bloomandfresh.com  internet sitesine üye olurken verdiği kişisel ve diğer sair bilgilerin kanunlar önünde doğru olduğunu, IF’in bu bilgilerin gerçeğe aykırılığı
		nedeniyle uğrayacağı tüm zararları aynen ve derhal tazmin edeceğini beyan ve taahhüt eder.
	</p>

	<p class="plain-text">
		<strong>3.2.</strong>Üye, IF tarafından kendisine verilmiş olan şifreyi başka kişi ya da kuruluşlara veremez, üyenin sözkonusu şifreyi kullanma hakkı bizzat kendisine aittir. Bu sebeple
		doğabilecek tüm sorumluluk ile üçüncü kişiler veya yetkili merciler tarafından IF’e karşı ileri sürülebilecek tüm iddia ve taleplere karşı, IF’in sözkonusu izinsiz kullanımdan kaynaklanan her
		türlü tazminat ve sair talep hakkı saklıdır.
	</p>

	<p class="plain-text">
		<strong>3.3.</strong>Üye Bloomandfresh.com  internet sitesini kullanırken yasal mevzuat hükümlerine riayet etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahhüt eder. Aksi takdirde, doğacak
		tüm hukuki ve cezai yükümlülükler tamamen ve münhasıran üyeyi bağlayacaktır.
	</p>

	<p class="plain-text">
		<strong>3.4.</strong>Üye, Bloomandfresh.com  internet sitesini hiçbir şekilde kamu düzenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir amaç
		için, başkalarının fikri ve telif haklarına tecavüz edecek şekilde kullanamaz. Ayrıca, üye başkalarının hizmetleri kullanmasını önleyici veya zorlaştırıcı faaliyet (spam, virus, truva atı,
		vb.) ve işlemlerde bulunamaz.
	</p>

	<p class="plain-text">
		<strong>3.5.</strong>Bloomandfresh.com  internet sitesinde üyeler tarafından beyan edilen, yazılan, kullanılan fikir ve düşünceler, tamamen üyelerin kendi kişisel görüşleridir ve görüş
		sahibini bağlar. Bu görüş ve düşüncelerin IF ile hiçbir ilgi ve bağlantısı yoktur. IF’in üyenin beyan edeceği fikir ve görüşler nedeniyle üçüncü kişilerin uğrayabileceği zararlardan ve üçüncü
		kişilerin beyan edeceği fikir ve görüşler nedeniyle üyenin uğrayabileceği zararlardan dolayı herhangi bir sorumluluğu bulunmamaktadır.
	</p>

	<p class="plain-text">
		<strong>3.6.</strong> IF, üye verilerinin yetkisiz kişilerce okunmasından ve üye yazılım ve verilerine gelebilecek zararlardan dolayı sorumlu olmayacaktır. Üye, Bloomandfresh.com  internet
		sitesinin kullanılmasından dolayı uğrayabileceği herhangi bir zarar yüzünden IF’den tazminat talep etmemeyi peşinen kabul etmiştir.
	</p>

	<p class="plain-text">
		<strong>3.7.</strong>Üye, diğer internet kullanıcılarının yazılımlarına ve verilerine izinsiz olarak ulaşmamayı veya bunları kullanmamayı kabul etmiştir. Aksi takdirde, bundan doğacak hukuki
		ve cezai sorumluluklar tamamen üyeye aittir.
	</p>

	<p class="plain-text">
		<strong>3.8.</strong>İşbu üyelik sözleşmesi içerisinde sayılan maddelerden bir ya da birkaçını ihlal eden üye işbu ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olup, IF’i bu
		ihlallerin hukuki ve cezai sonuçlarından ari tutacaktır. Ayrıca; işbu ihlal nedeniyle, olayın hukuk alanına intikal ettirilmesi halinde, IF’in üyeye karşı üyelik sözleşmesine uyulmamasından
		dolayı tazminat talebinde bulunma hakkı saklıdır.
	</p>

	<p class="plain-text">
		<strong>3.9.</strong>IF’in her zaman tek taraflı olarak gerektiğinde üyenin üyeliğini silme, müşteriye ait dosya, belge ve bilgileri silme hakkı vardır. Üye işbu tasarrufu önceden kabul eder.
		Bu durumda, IF’in hiçbir sorumluluğu yoktur.
	</p>

	<p class="plain-text">
		<strong>3.10.</strong> Bloomandfresh.com  internet sitesi yazılım ve tasarımı IF mülkiyetinde olup, bunlara ilişkin telif hakkı ve/veya diğer fikri mülkiyet hakları ilgili kanunlarca
		korunmakta olup, bunlar  üye tarafından izinsiz kullanılamaz, iktisap edilemez ve değiştirilemez. Bu web sitesinde adı geçen başkaca şirketler ve ürünleri sahiplerinin ticari markalarıdır ve
		ayrıca fikri mülkiyet hakları kapsamında korunmaktadır.
	</p>

	<p class="plain-text">
		<strong>3.11.</strong>IF tarafından Bloomandfresh.com  internet sitesinin iyileştirilmesi, geliştirilmesine yönelik olarak ve/veya yasal mevzuat çerçevesinde siteye erişmek için kullanılan
		İnternet servis sağlayıcısının adı ve Internet Protokol (IP) adresi, Siteye erişilen tarih ve saat, sitede bulunulan sırada erişilen sayfalar ve siteye doğrudan bağlanılmasını sağlayan Web
		sitesinin Internet adresi gibi birtakım bilgiler toplanabilir.
	</p>

	<p class="plain-text">
		<strong>3.12.</strong>IF kullanıcılarına daha iyi hizmet sunmak, ürünlerini ve hizmetlerini iyileştirmek, sitenin kullanımını kolaylaştırmak için kullanımını kullanıcılarının özel tercihlerine
		ve ilgi alanlarına yönelik çalışmalarda üyelerin kişisel bilgilerini kullanabilir. IF, üyenin Bloomandfresh.com  internet sitesi üzerinde yaptığı hareketlerin kaydını bulundurma hakkını saklı
		tutar.
	</p>

	<p class="plain-text">
		<strong>3.13.</strong>Bloomandfresh.com  internet sitesine üye olan kişi, yürürlükte bulunan ve/veya yürürlüğe alınacak uygulamalar kapsamında IF iştiraki olan tüm şirketler tarafından 
		kendisine ürün ve hizmet tanıtımları, reklamlar, kampanyalar, avantajlar, anketler  ve diğer müşteri memnuniyeti uygulamaları sunulmasına izin verdiğini beyan ve kabul eder.  Üye, siteye üye
		olurken ve/veya başka yollarla geçmişte vermiş olduğu ve/veya gelecekte vereceği kişisel ve alışveriş bilgilerinin ve alışveriş ve/veya tüketici davranış bilgilerinin  yukarıdaki amaçlarla
		toplanmasına, IF iştiraki olan tüm şirketler ile paylaşılmasına, IF iştiraki olan tüm şirketler tarafından kullanılmasına ve arşivlenmesine izin verdiğini beyan ve kabul eder. Üye aksini
		bildirmediği  sürece IF iştiraki olan tüm şirketlerin  kendisi ile  internet, telefon, SMS,  vb iletişim kanalları kullanarak irtibata geçmesine izin verdiğini beyan ve kabul eder. Üye
		yukarıda bahsi geçen bilgilerin toplanması,  paylaşılması, kullanılması, arşivlenmesi ve kendisine erişilmesi nedeniyle doğrudan ve/veya dolaylı maddi ve/veya manevi menfi ve/veya müsbet,
		velhasıl herhangi bir zarara uğradığı konusunda talepte bulunmayacağını ve IF iştiraki olan şirketleri sorumlu tutmayacağını beyan ve kabul eder. Üye veri paylaşım tercihlerini değiştirmek
		isterse, bu talebini IF’in müşteri hizmetleri numaralarına iletebilir.
	</p>

	<p class="plain-text">
		<strong>3.14.</strong>IF, üyenin kişisel bilgilerini yasal bir zorunluluk olarak istendiğinde veya (a) yasal gereklere uygun hareket etmek veya IF’e tebliğ edilen yasal işlemlere uymak; (b)
		IF’in haklarını ve mülkiyetini korumak ve savunmak için gerekli olduğuna iyi niyetle kanaat getirdiği hallerde açıklayabilir.
	</p>

	<p class="plain-text">
		<strong>3.15.</strong>Sitenin virus ve benzeri amaçlı yazılımlardan arındırılmış olması için mevcut imkanlar dahilinde tedbir alınmıştır. Bunun yanında nihai güvenliğin sağlanması için
		kullanıcının, kendi virus koruma sistemini tedarik etmesi ve gerekli korunmayı sağlaması gerekmektedir. Bu bağlamda üye Bloomandfresh.com web sitesi'ne girmesiyle, kendi yazılım ve işletim
		sistemlerinde oluşabilecek tüm hata ve bunların doğrudan ya da dolaylı sonuçlarından kendisinin sorumlu olduğunu kabul etmiş sayılır.
	</p>

	<p class="plain-text">
		<strong>3.16.</strong>IF, sitenin içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme ya da sona erdirme veya Bloomandfresh.com web sitesi'nde kayıtlı
		kullanıcı bilgi ve verilerini silme hakkını saklı tutar.
	</p>

	<p class="plain-text">
		<strong>3.17.</strong>F, üyelik sözleşmesinin koşullarını hiçbir şekil ve surette ön ihbara ve/veya ihtara gerek kalmaksızın her zaman değiştirebilir, güncelleyebilir veya iptal edebilir.
		Değiştirilen, güncellenen ya da yürürlükten kaldırılan her hüküm , yayın tarihinde tüm üyeler bakımından hüküm ifade edecektir.
	</p>

	<p class="plain-text">
		<strong>3.18.</strong>Taraflar, IF’e ait tüm bilgisayar kayıtlarının tek ve gerçek münhasır delil olarak, HUMK madde 287'ye uygun şekilde esas alınacağını ve söz konusu kayıtların bir delil
		sözleşmesi teşkil ettiği hususunu kabul ve beyan eder.
	</p>

	<p class="plain-text">
		<strong>3.19.</strong>IF, iş bu üyelik sözleşmesi uyarınca, üyelerinin kendisinde kayıtlı elektronik posta adreslerine bilgilendirme mailleri ve cep telefonlarına bilgilendirme SMS’leri
		gönderme yetkisine sahip olmakla beraber, üye işbu üyelik sözleşmesini onaylamasıyla beraber bilgilendirme maillerinin elektronik posta adresine ve bilgilendirme SMS’lerinin cep telefonuna
		gönderilmesini kabul etmiş sayılacaktır. Üye mail ve/veya SMS almaktan vazgeçmek istemesi durumunda web sitesindeki “Hesap Bilgilerin” kısmından mail ve/veya SMS gönderim iptal işlemini
		gerçekleştirebilecektir.
	</p>


	<p>
		<strong class="medium-header">4. Sözleşmenin Feshi</strong>
	</p>

	<p class="plain-text">
		İşbu sözleşme üyenin üyeliğini iptal etmesi veya IF tarafından üyeliğinin iptal edilmesine kadar yürürlükte kalacaktır. IF üyenin üyelik sözleşmesinin herhangi bir hükmünü ihlal etmesi
		durumunda üyenin üyeliğini iptal ederek sözleşmeyi tek taraflı olarak feshedebilecektir.
	</p>

	<p>
		<strong class="medium-header">5. İhtilaflerin Halli</strong>
	</p>

	<p class="plain-text">
		İşbu sözleşmeye ilişkin ihtilaflerde İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.
	</p>

	<p>
		<strong class="medium-header">6. Yürürlük</strong>
	</p>

	<p class="plain-text">
		Üyenin, üyelik kaydı yapması üyenin üyelik sözleşmesinde yer alan tüm maddeleri okuduğu ve üyelik sözleşmesinde yer alan maddeleri kabul ettiği anlamına gelir. İşbu Sözleşme üyenin üye olması
		anında akdedilmiş ve karşılıklı olarak yürürlülüğe girmiştir.
	</p>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="$close('close')">Okudum</button>
</div>